other/experiment_evaluation.json
[
    {
        "id": "4fed1f4ddde01730",
        "type": "tab",
        "label": "Flow 13",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48e4d1e12cc23e35",
        "type": "group",
        "z": "4fed1f4ddde01730",
        "name": "Smart Environment Bedroom 1",
        "style": {
            "label": true
        },
        "nodes": [
            "64ed535230e41dcc",
            "f83bd2faacb74026",
            "45ccce7ede642c3b",
            "d3b6a93a016e1aff"
        ],
        "x": 474,
        "y": 159,
        "w": 492,
        "h": 222
    },
    {
        "id": "9cd4d9157d91a81c",
        "type": "group",
        "z": "4fed1f4ddde01730",
        "name": "Floorplan Digital Twin",
        "style": {
            "label": true
        },
        "nodes": [
            "3868897729eee2b9",
            "1bde3678d4c7b664",
            "d9ea45f57b59cfcc",
            "23c3aa1d4993874f",
            "56fc3d283752c9bd"
        ],
        "x": 294,
        "y": 459,
        "w": 532,
        "h": 162
    },
    {
        "id": "a195d8c9e913b6bf",
        "type": "inject",
        "z": "4fed1f4ddde01730",
        "name": "Deploy",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "open",
        "payloadType": "str",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "dafe1008fe962740"
            ]
        ]
    },
    {
        "id": "d466fea18246944d",
        "type": "inject",
        "z": "4fed1f4ddde01730",
        "name": "Disable",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "close",
        "payloadType": "str",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "dafe1008fe962740"
            ]
        ]
    },
    {
        "id": "b09dd054133097a7",
        "type": "ui_chart",
        "z": "4fed1f4ddde01730",
        "name": "",
        "group": "3a2370fd3df88cb0",
        "order": 2,
        "width": "5",
        "height": "5",
        "label": "temperature_historian",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "15",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1e26aa8170853c81",
        "type": "ui_gauge",
        "z": "4fed1f4ddde01730",
        "name": "temperature_gauge",
        "group": "3a2370fd3df88cb0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b33c",
            "#a8e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "40",
        "className": "",
        "x": 1070,
        "y": 200,
        "wires": []
    },
    {
        "id": "dafe1008fe962740",
        "type": "gate",
        "z": "4fed1f4ddde01730",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "64ed535230e41dcc"
            ]
        ]
    },
    {
        "id": "64ed535230e41dcc",
        "type": "mongodb in",
        "z": "4fed1f4ddde01730",
        "g": "48e4d1e12cc23e35",
        "mongodb": "8a5945581887707b",
        "name": "service_api_se",
        "collection": "temperature",
        "operation": "find",
        "x": 580,
        "y": 340,
        "wires": [
            [
                "f83bd2faacb74026"
            ]
        ]
    },
    {
        "id": "f83bd2faacb74026",
        "type": "function",
        "z": "4fed1f4ddde01730",
        "g": "48e4d1e12cc23e35",
        "name": "Smart_Env_BD_1)",
        "func": "\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 240,
        "wires": [
            [
                "45ccce7ede642c3b",
                "d3b6a93a016e1aff"
            ]
        ]
    },
    {
        "id": "45ccce7ede642c3b",
        "type": "function",
        "z": "4fed1f4ddde01730",
        "g": "48e4d1e12cc23e35",
        "name": "temperature_gauge",
        "func": "let labels = [\"date\", \"temperature\"];\nlet data = [];\n\n\nvar myArray = msg.payload\n\n/**\n* @param {any[]} item\n* @param {any} index\n*/\n\nfor (let index = 0; index < myArray.length; ++index) {\n    const temp = myArray[index].payload.Temperature;\n    data.push(temp);\n}\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 200,
        "wires": [
            [
                "1e26aa8170853c81"
            ]
        ]
    },
    {
        "id": "d3b6a93a016e1aff",
        "type": "function",
        "z": "4fed1f4ddde01730",
        "g": "48e4d1e12cc23e35",
        "name": "temperature_historian",
        "func": "let labels = [\"date\", \"temperature\"];\nlet data = [];\n\n\nvar myArray = msg.payload\n\n/**\n* @param {any[]} item\n* @param {any} index\n*/\n\nfor (let index = 0; index < myArray.length; ++index) {\n    const timestamp = myArray[index].payload.Date;\n    const temp = myArray[index].payload.Temperature;\n    const foo = { \"x\": timestamp, \"y\": temp }\n    data.push(foo);\n}\n\nmsg.payload = [{\n    \"series\": [\"My Data\"],\n    \"data\": [data],\n    \"labels\": labels\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 280,
        "wires": [
            [
                "b09dd054133097a7"
            ]
        ]
    },
    {
        "id": "3868897729eee2b9",
        "type": "ui_svg_graphics",
        "z": "4fed1f4ddde01730",
        "g": "9cd4d9157d91a81c",
        "group": "990defcc7986ef1a",
        "order": 0,
        "width": 0,
        "height": 0,
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" style=\"background: #ffffff; background-color: light-dark(#ffffff, var(--ge-dark-color, #121212)); color-scheme: light dark;\" version=\"1.1\" width=\"592px\" height=\"511px\" viewBox=\"-0.5 -0.5 592 511\" content=\"&lt;mxfile host=&quot;app.diagrams.net&quot; agent=&quot;Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36&quot; version=&quot;26.2.8&quot; scale=&quot;1&quot; border=&quot;0&quot;&gt;&#10;  &lt;diagram name=&quot;Seite-1&quot; id=&quot;aRFbAa7y47wTkrjAyiQT&quot;&gt;&#10;    &lt;mxGraphModel dx=&quot;1044&quot; dy=&quot;562&quot; grid=&quot;1&quot; gridSize=&quot;10&quot; guides=&quot;1&quot; tooltips=&quot;1&quot; connect=&quot;1&quot; arrows=&quot;1&quot; fold=&quot;1&quot; page=&quot;1&quot; pageScale=&quot;1&quot; pageWidth=&quot;827&quot; pageHeight=&quot;1169&quot; math=&quot;0&quot; shadow=&quot;0&quot;&gt;&#10;      &lt;root&gt;&#10;        &lt;mxCell id=&quot;0&quot; /&gt;&#10;        &lt;mxCell id=&quot;1&quot; parent=&quot;0&quot; /&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-1&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;13.5&quot; y=&quot;10&quot; width=&quot;580&quot; height=&quot;10&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-2&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;13.5&quot; y=&quot;510&quot; width=&quot;580&quot; height=&quot;10&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-3&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;13.5&quot; y=&quot;20&quot; width=&quot;10&quot; height=&quot;490&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-4&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;593.5&quot; y=&quot;10&quot; width=&quot;10&quot; height=&quot;211&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-5&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.doorDouble;aspect=fixed;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;542.5&quot; y=&quot;242&quot; width=&quot;80&quot; height=&quot;42.5&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-6&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;593.5&quot; y=&quot;305&quot; width=&quot;10&quot; height=&quot;215&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-7&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;545&quot; y=&quot;302.5&quot; width=&quot;10&quot; height=&quot;95&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-8&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.doorRight;aspect=fixed;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;460.5&quot; y=&quot;345.5&quot; width=&quot;40&quot; height=&quot;42.5&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-9&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;431&quot; y=&quot;327.5&quot; width=&quot;10&quot; height=&quot;45&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-10&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;rotation=0;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;387.5&quot; y=&quot;345&quot; width=&quot;40&quot; height=&quot;175&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-11&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;402.5&quot; y=&quot;280&quot; width=&quot;10&quot; height=&quot;108&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-14&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;257.5&quot; y=&quot;137.88&quot; width=&quot;10&quot; height=&quot;112&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-16&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;85.44&quot; y=&quot;121.94&quot; width=&quot;10&quot; height=&quot;143.88&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-17&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.doorRight;aspect=fixed;rotation=-180;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;164.5&quot; y=&quot;156&quot; width=&quot;40&quot; height=&quot;42.5&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-18&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;313.5&quot; y=&quot;19&quot; width=&quot;10&quot; height=&quot;180&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-19&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;373&quot; y=&quot;241.5&quot; width=&quot;10&quot; height=&quot;69&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-20&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.doorRight;aspect=fixed;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;303.5&quot; y=&quot;272.5&quot; width=&quot;40&quot; height=&quot;42.5&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-21&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;208.5&quot; y=&quot;187.75&quot; width=&quot;10&quot; height=&quot;177.5&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-23&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.doorRight;aspect=fixed;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;82.5&quot; y=&quot;272&quot; width=&quot;40&quot; height=&quot;42.5&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-24&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;42.5&quot; y=&quot;243.88&quot; width=&quot;10&quot; height=&quot;65.25&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-25&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;direction=south;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;208.5&quot; y=&quot;280&quot; width=&quot;10&quot; height=&quot;230&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-26&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.wall;fillColor=strokeColor;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;503.5&quot; y=&quot;189&quot; width=&quot;100&quot; height=&quot;10&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-27&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.shower2;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;522.5&quot; y=&quot;355&quot; width=&quot;71&quot; height=&quot;80&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-29&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.sink_22;rotation=-180;direction=south;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;412.5&quot; y=&quot;470&quot; width=&quot;35&quot; height=&quot;40&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-30&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.range_2;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;530.5&quot; y=&quot;34&quot; width=&quot;71&quot; height=&quot;50&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-55&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.bed_double;rotation=-90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;42.5&quot; y=&quot;10&quot; width=&quot;90&quot; height=&quot;120&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-56&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.bed_single;rotation=-180;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;25.439999999999998&quot; y=&quot;397.5&quot; width=&quot;60&quot; height=&quot;110&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-57&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.bed_single;rotation=-180;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;340.5&quot; y=&quot;397.5&quot; width=&quot;60&quot; height=&quot;110&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-60&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.chair;shadow=0;direction=north;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;355.5&quot; y=&quot;87&quot; width=&quot;30&quot; height=&quot;30&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-63&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.chair;shadow=0;direction=north;rotation=-90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;395&quot; y=&quot;126&quot; width=&quot;30&quot; height=&quot;30&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-64&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.chair;shadow=0;direction=north;rotation=-180;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;430.5&quot; y=&quot;87&quot; width=&quot;30&quot; height=&quot;30&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-65&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.chair;shadow=0;direction=north;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;395&quot; y=&quot;46&quot; width=&quot;30&quot; height=&quot;30&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-62&quot; value=&quot;&quot; style=&quot;shape=ellipse;shadow=0;html=1;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;375.5&quot; y=&quot;66&quot; width=&quot;69&quot; height=&quot;70&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-66&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.toilet;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;553.5&quot; y=&quot;467.5&quot; width=&quot;40&quot; height=&quot;40&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-67&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.window;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;164.5&quot; y=&quot;10&quot; width=&quot;100&quot; height=&quot;10&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-68&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.window;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;395.5&quot; y=&quot;10&quot; width=&quot;100&quot; height=&quot;10&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-69&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.window;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;264.5&quot; y=&quot;510&quot; width=&quot;77&quot; height=&quot;10&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-70&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.window;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;64&quot; y=&quot;510&quot; width=&quot;77&quot; height=&quot;10&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-71&quot; value=&quot;&quot; style=&quot;verticalLabelPosition=bottom;html=1;verticalAlign=top;align=center;shape=mxgraph.floorplan.window;rotation=90;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;-20&quot; y=&quot;335&quot; width=&quot;77&quot; height=&quot;10&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-74&quot; value=&quot;Living Room / Kitchen&quot; style=&quot;text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;473.5&quot; y=&quot;159&quot; width=&quot;120&quot; height=&quot;30&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-75&quot; value=&quot;Bathroom&quot; style=&quot;text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;460.5&quot; y=&quot;480&quot; width=&quot;80&quot; height=&quot;30&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-76&quot; value=&quot;Bedroom 1&quot; style=&quot;text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;23.5&quot; y=&quot;157.75&quot; width=&quot;80&quot; height=&quot;30&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-77&quot; value=&quot;Bedroom 2&quot; style=&quot;text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;128.5&quot; y=&quot;280&quot; width=&quot;80&quot; height=&quot;30&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;        &lt;mxCell id=&quot;C5ophgcA-7hmUAPyWBoe-78&quot; value=&quot;Bedroom 3&quot; style=&quot;text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;&quot; vertex=&quot;1&quot; parent=&quot;1&quot;&gt;&#10;          &lt;mxGeometry x=&quot;218.5&quot; y=&quot;278.75&quot; width=&quot;80&quot; height=&quot;30&quot; as=&quot;geometry&quot; /&gt;&#10;        &lt;/mxCell&gt;&#10;      &lt;/root&gt;&#10;    &lt;/mxGraphModel&gt;&#10;  &lt;/diagram&gt;&#10;&lt;/mxfile&gt;&#10;\" preserveAspectRatio=\"xMidYMid meet\"><defs id=\"svgEditorDefs\"><symbol height=\"40\" id=\"icons8-idea\" viewBox=\"0 0 40 40\" width=\"40\" x=\"0\" y=\"0\"><path d=\"M14.5,29.833V28c0-1.914-1.168-3.76-2.52-5.897C10.349,19.525,8.5,16.603,8.5,13 C8.5,6.659,13.659,1.5,20,1.5S31.5,6.659,31.5,13c0,3.603-1.849,6.525-3.48,9.103C26.668,24.24,25.5,26.086,25.5,28v1.833H14.5z\" fill=\"#ffeea3\"/><path d=\"M20,2c6.065,0,11,4.935,11,11c0,3.458-1.808,6.315-3.402,8.835C26.262,23.947,25,25.941,25,28v1.333 h-5h-5V28c0-2.059-1.262-4.053-2.598-6.165C10.808,19.315,9,16.458,9,13C9,6.935,13.935,2,20,2 M20,1C13.373,1,8,6.373,8,13 c0,6.667,6,10.958,6,15v2.333h6h6V28c0-4.042,6-8.333,6-15C32,6.373,26.627,1,20,1L20,1z\" fill=\"#ba9b48\"/><path d=\"M22.714,11.335c0.502,0,0.974,0.195,1.329,0.55c0.733,0.733,0.733,1.925,0,2.657l-1.75,1.75 L22,16.586V17v12h-4V17v-0.414l-0.293-0.293l-1.75-1.75c-0.733-0.733-0.733-1.925,0-2.657c0.355-0.355,0.827-0.55,1.329-0.55 c0.502,0,0.974,0.195,1.329,0.55l0.679,0.679L20,13.271l0.707-0.707l0.679-0.679C21.741,11.531,22.212,11.335,22.714,11.335 M22.714,10.335c-0.737,0-1.474,0.281-2.036,0.843L20,11.857l-0.679-0.679c-0.562-0.562-1.299-0.843-2.036-0.843 c-0.737,0-1.474,0.281-2.036,0.843c-1.124,1.124-1.124,2.947,0,4.071L17,17v13h6V17l1.75-1.75c1.124-1.124,1.124-2.947,0-4.071 C24.188,10.616,23.451,10.335,22.714,10.335L22.714,10.335z\" fill=\"#fff\"/><path d=\"M20 31A4 4 0 1 0 20 39A4 4 0 1 0 20 31Z\" fill=\"#8b75a1\"/><path d=\"M17,36.5c-1.378,0-2.5-1.122-2.5-2.5v-5.5h11V34c0,1.378-1.122,2.5-2.5,2.5H17z\" fill=\"#dcd5f2\"/><path d=\"M25,29v5c0,1.103-0.897,2-2,2h-6c-1.103,0-2-0.897-2-2v-5H25 M26,28H14v6c0,1.657,1.343,3,3,3h6 c1.657,0,3-1.343,3-3V28L26,28z\" fill=\"#8b75a1\"/><path d=\"M19 34H25.488V35H19zM14.56 34H17V35H14.56zM19 32H26V33H19zM14 32H17V33H14zM19 30H26V31H19zM14 30H17V31H14z\" fill=\"#8b75a1\"/></symbol></defs><rect id=\"svgEditorBackground\" x=\"-0.5\" y=\"-0.5\" width=\"592\" height=\"511\" style=\"fill:none;stroke:none\"/><defs/><g><g data-cell-id=\"0\"><g data-cell-id=\"1\"><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-1\"><g><rect x=\"0.5\" y=\"0\" width=\"580\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-2\"><g><rect x=\"0.5\" y=\"500\" width=\"580\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-3\"><g><rect x=\"-239.5\" y=\"250\" width=\"490\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(90,5.5,255)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-4\"><g><rect x=\"480\" y=\"100.5\" width=\"211\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(90,585.5,105.5)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-5\"><g><rect x=\"529.5\" y=\"232\" width=\"80\" height=\"5\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,569.5,253.25)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 569.5 232 L 569.5 237 M 569.5 237 C 569.5 259.09 551.59 277 529.5 277 L 529.5 237 M 569.5 237 C 569.5 259.09 587.41 277 609.5 277 L 609.5 237\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" transform=\"rotate(90,569.5,253.25)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-6\"><g><rect x=\"478\" y=\"397.5\" width=\"215\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(90,585.5,402.5)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-7\"><g><rect x=\"489.5\" y=\"335\" width=\"95\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(180,537,340)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-8\"><g><rect x=\"447.5\" y=\"335.5\" width=\"40\" height=\"5\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 447.5 340.5 C 447.5 362.59 465.41 380.5 487.5 380.5 L 487.5 340.5\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-9\"><g><rect x=\"400.5\" y=\"335\" width=\"45\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(180,423,340)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-10\"><g><rect x=\"307\" y=\"417.5\" width=\"175\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(90,394.5,422.5)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-11\"><g><rect x=\"340.5\" y=\"319\" width=\"108\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(90,394.5,324)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-14\"><g><rect x=\"193.5\" y=\"178.88\" width=\"112\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(180,249.5,183.88)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-16\"><g><rect x=\"5.5\" y=\"178.88\" width=\"143.88\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(180,77.44,183.88)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-17\"><g><rect x=\"151.5\" y=\"146\" width=\"40\" height=\"5\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(-180,171.5,167.25)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 151.5 151 C 151.5 173.09 169.41 191 191.5 191 L 191.5 151\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" transform=\"rotate(-180,171.5,167.25)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-18\"><g><rect x=\"215.5\" y=\"94\" width=\"180\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(90,305.5,99)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-19\"><g><rect x=\"330.5\" y=\"261\" width=\"69\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(180,365,266)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-20\"><g><rect x=\"290.5\" y=\"262.5\" width=\"40\" height=\"5\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 290.5 267.5 C 290.5 289.59 308.41 307.5 330.5 307.5 L 330.5 267.5\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-21\"><g><rect x=\"111.75\" y=\"261.5\" width=\"177.5\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(180,200.5,266.5)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-23\"><g><rect x=\"69.5\" y=\"262\" width=\"40\" height=\"5\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 69.5 267 C 69.5 289.09 87.41 307 109.5 307 L 109.5 267\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-24\"><g><rect x=\"1.88\" y=\"261.5\" width=\"65.25\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(180,34.5,266.5)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-25\"><g><rect x=\"85.5\" y=\"380\" width=\"230\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" transform=\"rotate(90,200.5,385)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-26\"><g><rect x=\"490.5\" y=\"179\" width=\"100\" height=\"10\" fill=\"#000000\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-27\"><g><rect x=\"509.5\" y=\"345\" width=\"71\" height=\"80\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"515.18\" y=\"351.4\" width=\"59.64\" height=\"67.2\" rx=\"5.68\" ry=\"5.68\" fill=\"none\" stroke=\"#000000\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 576.24 352.2 C 571.98 356.58 568.39 361.72 565.59 367.4 C 564.76 368.65 563.35 369.24 561.99 368.91 C 560.64 368.58 559.58 367.38 559.28 365.85 C 558.99 364.32 559.51 362.74 560.62 361.8 C 565.66 358.65 570.22 354.6 574.11 349.8 C 574.49 349.37 575.05 349.2 575.56 349.36 C 576.08 349.52 576.49 349.98 576.63 350.56 C 576.77 351.15 576.62 351.77 576.24 352.2 Z\" fill=\"#ffffff\" stroke=\"#000000\" stroke-miterlimit=\"10\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><ellipse cx=\"523.7\" cy=\"409\" rx=\"3.55\" ry=\"4\" fill=\"#000000\" stroke=\"none\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-29\"><g><rect x=\"397\" y=\"462.5\" width=\"40\" height=\"35\" rx=\"4\" ry=\"4\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(-90,417,480)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"401\" y=\"472.5\" width=\"32\" height=\"21\" rx=\"3\" ry=\"3\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(-90,417,480)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><ellipse cx=\"417\" cy=\"481.5\" rx=\"2.5\" ry=\"2.5\" fill=\"#000000\" stroke=\"none\" transform=\"rotate(-90,417,480)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"397\" y=\"462.5\" width=\"0\" height=\"0\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(-90,417,480)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"415\" y=\"465.5\" width=\"4\" height=\"16\" rx=\"2\" ry=\"2\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(-90,417,480)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"415\" y=\"465.5\" width=\"4\" height=\"11\" rx=\"2\" ry=\"2\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(-90,417,480)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-30\"><g><rect x=\"517.5\" y=\"24\" width=\"71\" height=\"48.39\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><ellipse cx=\"576.67\" cy=\"36.1\" rx=\"2.84\" ry=\"2.419354838709677\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><ellipse cx=\"576.67\" cy=\"60.29\" rx=\"3.7866666666666666\" ry=\"3.225806451612903\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><ellipse cx=\"529.33\" cy=\"60.29\" rx=\"4.733333333333333\" ry=\"4.032258064516129\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><ellipse cx=\"529.33\" cy=\"36.1\" rx=\"5.68\" ry=\"4.838709677419354\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 573.35 33.27 L 579.98 38.92 M 579.98 33.27 L 573.35 38.92 M 572.41 56.66 L 580.93 63.92 M 580.93 56.66 L 572.41 63.92 M 523.18 30.85 L 535.49 41.34 M 535.49 30.85 L 523.18 41.34 M 524.13 55.85 L 534.54 64.73 M 534.54 55.85 L 524.13 64.73\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"543.53\" y=\"28.03\" width=\"18.93\" height=\"40.32\" rx=\"2.84\" ry=\"2.84\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"522.23\" y=\"72.39\" width=\"4.73\" height=\"1.61\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"530.75\" y=\"72.39\" width=\"4.73\" height=\"1.61\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"539.27\" y=\"72.39\" width=\"4.73\" height=\"1.61\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"547.79\" y=\"72.39\" width=\"4.73\" height=\"1.61\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"556.31\" y=\"72.39\" width=\"4.73\" height=\"1.61\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"564.83\" y=\"72.39\" width=\"4.73\" height=\"1.61\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"573.35\" y=\"72.39\" width=\"4.73\" height=\"1.61\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"581.87\" y=\"72.39\" width=\"4.73\" height=\"1.61\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,553,49)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-55\"><g><rect x=\"29.5\" y=\"0\" width=\"90\" height=\"120\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(-90,74.5,60)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"34\" y=\"3.33\" width=\"36\" height=\"26.67\" rx=\"3.33\" ry=\"3.33\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(-90,74.5,60)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"79\" y=\"3.33\" width=\"36\" height=\"26.67\" rx=\"3.33\" ry=\"3.33\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(-90,74.5,60)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"29.5\" y=\"20\" width=\"90\" height=\"16.67\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(-90,74.5,60)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-56\"><g><rect x=\"12.44\" y=\"387.5\" width=\"60\" height=\"110\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(-180,42.44,442.5)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"18.44\" y=\"390.56\" width=\"48\" height=\"24.44\" rx=\"3.06\" ry=\"3.06\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(-180,42.44,442.5)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"12.44\" y=\"405.83\" width=\"60\" height=\"15.28\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(-180,42.44,442.5)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-57\"><g><rect x=\"327.5\" y=\"387.5\" width=\"60\" height=\"110\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(-180,357.5,442.5)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"333.5\" y=\"390.56\" width=\"48\" height=\"24.44\" rx=\"3.06\" ry=\"3.06\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(-180,357.5,442.5)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"327.5\" y=\"405.83\" width=\"60\" height=\"15.28\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(-180,357.5,442.5)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-60\"><g><path d=\"M 369.9 87.17 L 372.09 100.92 C 372.5 102.94 371.36 104.97 369.18 106.08 C 361.7 107 354.1 107 346.62 106.08 C 344.44 104.97 343.3 102.94 343.71 100.92 L 345.9 87.17 C 346.32 85.64 348.4 84.47 350.99 84.3 L 364.81 84.3 C 367.4 84.47 369.48 85.64 369.9 87.17 Z M 350.39 84.3 L 346.65 80.67 M 354.55 84.3 L 353.3 80.15 M 359.53 84.3 L 361.19 80.15 M 363.68 84.3 L 367.84 80.67 M 369.08 80.86 C 361.39 79.92 353.52 79.92 345.82 80.86 L 342.5 78.57 C 352.34 77 362.57 77 372.41 78.57 Z\" fill=\"#ffffff\" stroke=\"#000000\" stroke-linejoin=\"round\" stroke-miterlimit=\"10\" transform=\"rotate(270,357.5,92)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-63\"><g><path d=\"M 409.4 126.17 L 411.59 139.92 C 412 141.94 410.86 143.97 408.68 145.08 C 401.2 146 393.6 146 386.12 145.08 C 383.94 143.97 382.8 141.94 383.21 139.92 L 385.4 126.17 C 385.82 124.64 387.9 123.47 390.49 123.3 L 404.31 123.3 C 406.9 123.47 408.98 124.64 409.4 126.17 Z M 389.89 123.3 L 386.15 119.67 M 394.05 123.3 L 392.8 119.15 M 399.03 123.3 L 400.69 119.15 M 403.18 123.3 L 407.34 119.67 M 408.58 119.86 C 400.89 118.92 393.02 118.92 385.32 119.86 L 382 117.57 C 391.84 116 402.07 116 411.91 117.57 Z\" fill=\"#ffffff\" stroke=\"#000000\" stroke-linejoin=\"round\" stroke-miterlimit=\"10\" transform=\"rotate(180,397,131)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-64\"><g><path d=\"M 444.9 87.17 L 447.09 100.92 C 447.5 102.94 446.36 104.97 444.18 106.08 C 436.7 107 429.1 107 421.62 106.08 C 419.44 104.97 418.3 102.94 418.71 100.92 L 420.9 87.17 C 421.32 85.64 423.4 84.47 425.99 84.3 L 439.81 84.3 C 442.4 84.47 444.48 85.64 444.9 87.17 Z M 425.39 84.3 L 421.65 80.67 M 429.55 84.3 L 428.3 80.15 M 434.53 84.3 L 436.19 80.15 M 438.68 84.3 L 442.84 80.67 M 444.08 80.86 C 436.39 79.92 428.52 79.92 420.82 80.86 L 417.5 78.57 C 427.34 77 437.57 77 447.41 78.57 Z\" fill=\"#ffffff\" stroke=\"#000000\" stroke-linejoin=\"round\" stroke-miterlimit=\"10\" transform=\"rotate(90,432.5,92)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-65\"><g><path d=\"M 409.4 46.17 L 411.59 59.92 C 412 61.94 410.86 63.97 408.68 65.08 C 401.2 66 393.6 66 386.12 65.08 C 383.94 63.97 382.8 61.94 383.21 59.92 L 385.4 46.17 C 385.82 44.64 387.9 43.47 390.49 43.3 L 404.31 43.3 C 406.9 43.47 408.98 44.64 409.4 46.17 Z M 389.89 43.3 L 386.15 39.67 M 394.05 43.3 L 392.8 39.15 M 399.03 43.3 L 400.69 39.15 M 403.18 43.3 L 407.34 39.67 M 408.58 39.86 C 400.89 38.92 393.02 38.92 385.32 39.86 L 382 37.57 C 391.84 36 402.07 36 411.91 37.57 Z\" fill=\"#ffffff\" stroke=\"#000000\" stroke-linejoin=\"round\" stroke-miterlimit=\"10\" transform=\"rotate(360,397,51)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-62\"><g><ellipse cx=\"397\" cy=\"91\" rx=\"34.5\" ry=\"35\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-66\"><g><rect x=\"540.5\" y=\"457.5\" width=\"40\" height=\"8.96\" rx=\"1.19\" ry=\"1.19\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,560.5,477.5)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><rect x=\"547.7\" y=\"466.46\" width=\"25.6\" height=\"10.15\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,560.5,477.5)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><ellipse cx=\"560.5\" cy=\"482.57\" rx=\"16\" ry=\"14.925373134328357\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,560.5,477.5)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><ellipse cx=\"560.5\" cy=\"483.77\" rx=\"9.600000000000001\" ry=\"8.955223880597014\" fill=\"none\" stroke=\"#000000\" transform=\"rotate(90,560.5,477.5)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><ellipse cx=\"560.5\" cy=\"478.99\" rx=\"4\" ry=\"4.17910447761194\" fill=\"#000000\" stroke=\"none\" transform=\"rotate(90,560.5,477.5)\" pointer-events=\"all\" style=\"fill: light-dark(rgb(0, 0, 0), rgb(237, 237, 237));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-67\"><g><rect x=\"151.5\" y=\"0\" width=\"100\" height=\"10\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 151.5 5 L 251.5 5\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-68\"><g><rect x=\"382.5\" y=\"0\" width=\"100\" height=\"10\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 382.5 5 L 482.5 5\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-69\"><g><rect x=\"251.5\" y=\"500\" width=\"77\" height=\"10\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 251.5 505 L 328.5 505\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-70\"><g><rect x=\"51\" y=\"500\" width=\"77\" height=\"10\" fill=\"#ffffff\" stroke=\"#000000\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M 51 505 L 128 505\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-71\"><g><rect x=\"-33\" y=\"325\" width=\"77\" height=\"10\" fill=\"#ffffff\" stroke=\"#000000\" transform=\"rotate(90,5.5,330)\" pointer-events=\"all\" style=\"fill: light-dark(#ffffff, var(--ge-dark-color, #121212)); stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/><path d=\"M -33 330 L 44 330\" fill=\"none\" stroke=\"#000000\" stroke-miterlimit=\"10\" transform=\"rotate(90,5.5,330)\" pointer-events=\"all\" style=\"stroke: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));\"/></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-74\"><g><rect x=\"460.5\" y=\"149\" width=\"120\" height=\"30\" fill=\"none\" stroke=\"none\" pointer-events=\"all\"/></g><g><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 118px; height: 1px; padding-top: 164px; margin-left: 462px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; color: #000000; \"><div style=\"display: inline-block; font-size: 12px; font-family: &quot;Helvetica&quot;; color: light-dark(#000000, #ffffff); line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">Living Room / Kitchen</div></div></div></foreignObject><image x=\"462\" y=\"157.5\" width=\"118\" height=\"17\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAdgAAABECAYAAAAiCiQVAAAAAXNSR0IArs4c6QAAGMpJREFUeF7tnQn4f081x0+JbKWQNclSkkqSNaSsyZKSSKlIlmwhsrSHQpH27FuiQkgUypKypGixhqQsbSpblvi8+s88xnFmOXf5fO79fM88z//5Pf/P9965M++ZOe8zZ845cymJEggEAoFAIBAIBAKLI3CpxWuMCgOBQCAQCAQCgUBAgmBjEgQCgUAgEAgEAisgEAS7AqhRZSAQCAQCgUAgEAQbcyAQCAQCgUAgEFgBgSDYFUCNKgOBQCAQCAQCgSDYmAOBQCAQCAQCgcAKCATBrgBqVBkIBAKBQCAQCATBxhwIBAKBQCAQCARWQKBGsO8sIs8SkasU37ybiDxghTZ8nYjcv6j3h0Xkdit8p1el7vO/iMhHicizey9e8L+/tYj8vIjccAEcXi4iLxORZ4jIz4nI00Xk3xaoN6rYDwKfKiJPTM39OxG5gYj8xYzmf6CI/LqIvGVRB99gfk0t735o11NF5GqqgleIyE1E5PeK37ci36b2de/tn9rvRd4Lgv1fGINgp02pJQlWt+A/ROSbROQhIvKv05oXb+0Mge8WkS9Lbf4FEbnFTCVraYKtketLRATifq7CeypBXVlEvkZEfkBE/uCEYzi1/Sds8nY+HQQbBDt3Nq5JsLltvyginyUir5nb2Hh/0whcUUSecrCIXD+18otE5FEzW7wkwUKuTxKR91NtqpErj3kJ6vIi8pVJsUTBPLUVzdv+mcN1Xq8HwQbBzp3RFsEiGDDveco7icibNl74HhG5s4hQd5TzRODD0rHAm4nIUkc0SxEsO8qfLsg/j0CLXL0E+w4i8puF6XkpDObMliDYGegFwQbBzpg+b3zVItip5+hvczCHfbqI3Fud/+c2fraIPHZug+P9zSJQCnPOMT9eRF49s7VLECzK30+KyEeqtnA2/Mki8keNNnoIaovHVJ72zxyq83t9CwR7fqherB4tSbAZubcSkUeKyG0UlL8tIp8QpuKznGBvLiJPEJFPSr3j3P3LF+jpXIJ9WxF5vIjcaAK5epsfBOtFbOPPB8FufIB20Lw1CJZuv52IPPlw5vVBBQb/fjAhfvSBZJ+5A1yiiT4E3jN5j7NbpHyaiPysrwrz6TkEi0UF0v+YI5ArnwiCXWDAt1RFEOyWRmOfbVmLYEHjc0TkRxUsSzi+7BPp82710uE5Ga2pBHtscg2CPcP5HQR7hoN65C6tSbCWcFwrHvvIsMXnFAJLh+fMIVjIlbP+T1Rt/LNkwv7zlUYvdrArAXuqardAsL1DdMIzfrwAaGrw+UcckiE8TUQuk+p6lYjwW3ZQ8EzuT1Hmq1Lov8nBtPkh6fzoxiJypfS9N6SA+Z9IoQd4H04t7y0iXyAiNxcRTGuXThW9KAkGQhty/bpfv5YcM/5p6sfVe1snWEzNN0t4XUtEON/N5a/TnMBD+Xdmeigz7oSX3CElGyiTtPyziDw/zWME9987sNfro0yS8BbJKYyzyusVXtg4BhHuAmlxbv1fxvfA5fYpqQthJ3kOgQlnjt9VzCFHcyc9qsNzllSivDtYyPV7D+P1GQuRa0++We1rgTiSJANvfM6Mb53+LeciyVxIvPFDIkL4W88rv9V+5jzfuWNySGMcKci6FyTr04+IyN9OmhWXvMR65Vz+80Xkg0Ukf4O/5fX76MY8tz7dk4nvdmjzFx644VZKvoLdr3bW1f/53h4I9j0OZyC/ISLvWrQc55cfcw7aN4vINxTvIOhue4g3+8/02xIEe/U0qcpzw1ozH3cIZcHcCdGPFs6nHp6Eau8dnES+XkSIqyuzcu2JYLVSRJ9HhS9hFfdNJNLDir+zeL4ieYtahFSrAyFDMoRvr3g+W+8x9l91EEx/M9Awi2DJnHXTtAYY31b5leQslsOmaC/hTt/RCYuizrun7G09ITzQjeYjJcksfc7uIdiac92cnesxCZax/cwDCT24UOxbwDPnPy/F9v535cFa+8nc9n0i8l4Dg89cu4czWQzKIwlH7jcwT2kCm4s7JYW51pfc1BrB8t63FolOWl3je0Q1/G7roT0QLG2ELBAKueB4wM42k2NvjN/+oGlBLNcsHtQhH3MJlh0KrvxlSrZeu9DyEJQv7j0oItdNu2a0q9HCjp1JSkacrMXuhWAZ9/ukgPuyv2izOD+1CpYDLAWMu7f8oIh8qYiw6+wVBPJDHSRe1kdaPTRkNOJW0QIO5x9S9CG0RgskixJAXCW7WhS70fKglFGoJ7RG67OeA2/WOGWp8Jz8nVGCRaDTBnZKZYFcP25wjVp9OxbB4u2MpY/QJm8hLI4NiKVI6fazI8XaA4lnq8fI9zzJYq56SOaBEpoTjozUn595YNpYtJRCi2BZE/TN802+AQ/9VK2BeyBY2s5ZCCSR26vNu70B+NhkMsvvQ2jkOH1p8eIcgiW7C/VdoajvH1LQPNmHCCCnDaV5Mj+KFsjgtpSFWno26oCkMQNSME3rLDNoWvQtE/9eCBZz0C8pTK1x02MPkaDoWIuf9+n/65Pphyw5VnKLEWFQc4KhPSw8zHDESV425WlmDHXpLlAjExCKwy1V/yCl53S+hTUD012ZT5zvs66Yq8xRlBeNx9I7So3BWuE5HoKlzw9LxwhLkit19QgWMrnLYVwgeOQDpmkSbVBQasjLzE4zFyxYOh1jay6iKP5yGmOewwufsdaFtIyQky66/ShpjFm5vkpZx5FVbV1hQSTvfEtZa8k68pSTiAOZ2upLLymNlvXIUHKeo4zlMrqGOY9HoTeP/PZCsNYO1ONNWjpQACCLiZ1dOdBzCLaclJgMOJN4nqof8w2XGBDfWQqxf0wB7OyArcIZJxoSWnRZyCrD2Zs2M2Iapb8kbLDKHggWEztWCr1bR9O+V6Vf/PwBaUdYKjr8jmb/1cZZUDapMSba1MpvzBFL8eEcn92O3gmyK+XsBqGozcy1cWH8WaAQpFW0gCufeUQy476y+JE1zS6GI5ASB+Z6Xu8ISc7wIeuynQh5TPCY88pirZfGMLj+tFZ4Tm5EbwdbI1ePdanV4R7Blu96ZFB+rzYXUay/OK2HcoyZ8/iQcAZbznnmLuRLv8vSmn/IOs7xX6jeYR5x3MKuuCRiNjQk6/jLCmA1RQFZx/rV7zGfr536goWvLDWFgWesy2zyu689KCNfkpR0vQu+Tloz11DfQk5gyfp/ZS8ES8MRrPcsejCaCPwd004yg4KgQVNnlzJ1cmsnp1wPu1HAbiWmt3ZYrXNFzpsxXZSlZdLhOYTGNyq88vtbJFg0YsaJxYcSwm5fl2zmrOUjZlGzcyWzTi7s2FjoEERLa7bS4PEulhNuTdEFZYf5UwoPdpEoNa1zVdYbRx3avMaZKmdn1rypCTh+59y31q/S7Fq2H0InWQdmPqswd3AaQXDmggDlzA0hvHRZKzwnt7NFsPTVMpmDKQ5CS2QNW5tgy/SSuc8cDbETbvl3WBYiS5Gqzb/eLpG5flfjBrZWfLP1LXa931Zx1Mv9tc7OcaxiJ215fNcIduSs3dphV2XqnghWT6RRM7E2L9fOeDzao0WwaH7sRDCXtApEgEaGkMvlMckRRQtLNDrMpJh+c2kJ4/K7CA8cwTAnluUYBLu0EB7ZTViCBgcJdmMj54d4ZmPWZR60sGbHgMLD2UsurcWssbDOlltkbgkd5gRk3lLk9M4wt4NdDbvzVtFHKqNrbcq4rxWek9tSI1gUJBxa2BlZpbaj8/ZxTYK1/FM4liAxxl8NNFS3zdphWvMPp1NkYO/yDb25oUko/t9itM16tkfiZTVWYpqaxcsi2NYa1M3Vyiu4failXO+JYK1wkJ6Z2JqAo6C3Em1bBDvq3cpgaY/mGulpL1rveRhhKSyG0lS4N4JlF8Gur+dtrY8B/jiZvDwhMXrhWHPgfdM5EE4luVRNRBUhZwkTnKvw6NTKgCXgRnIyW+tl5AybJus+rpV0fs3wnBbBsrvDtFhaxKyh6llNBjisewZb1uFR8nmPyAruTi7P9z1yyIrQ0E6EU+cf7UP+kigGa0AutTzlOhzTo7TmunUdNcuLRbAeuajlcnV97IlgAVELwJ4mrydgi6A8k1sTLOd0xINxAD9SdIai2uCOEnHtm+y2ICjM0rl4JtJIX9a4rg4zJueD33lwhf+TgUZoQc0raMloy55i7fq0EqfHbmpcth7bmjDQAm50N2mN/aj3vWctePDVz5a7S+8aGv2utYN9tnJooa4cbqFD7EYcc1ptWXMHqy0NPX8O3U7mCFYujmY4MuDeWeRFeXmBbr93vuv3LWsdPPT96liipnC2sNbrtzanLIL1yAv9nbMhWK1Z9yZUeb7DwLTIxSNUNMFWTQSV2aDft9qlvSunkgbxlqV34DEItnVdHYu6NMNmiHDE4HJ1Fha7zhGzbn73/dNO/XLpB97F0QfvSU+xMNcaN0kIylCOUV8A3Q4tHGuLVAsoTxgLjiyfW3x4NIG+Zy148NXP4hCWzdVrnfOOJHLIO9X3MTzXMR1ijp+aF3lNgtVrGwWfHejr5gyKele33/sN/b4lfywFGdM9IWKewvpnPbLDzMWycloEyyakGm6jGjG8Pva2g7W08pp5ztKKWqa8YdDS+UO54Dj3+HBHhp4RgrU8pz2TIM+Jm6RJl///GATbu66O82Hif4nl1IHqhCF87WAcau7TkmeGLauBRcCjpKUFhbVbtrL0jAiomhDSBDtqPvSsBY8ALJ/VWE7ZsYx8u0ew2iEIwa5jjOfEwq5JsHp8a74cIzjVnpkz/6hz5H1rLeBcOHKOXLYbuYKTYxn/bu1MLYIdia/P3xpeH3sjWDqo7ew1M7E+X+iZ1oZBMwjWS1ojBItnKxmYygxWI2nS9ELRAsbb1t7inJMqsZaWjnNjvGpHL23XeJJCDaeDKSnaWgLB6usoaWkcrUU+QrCjZl6+t2WCXTs8J+PdIljL29byRqcuEh9wPODNarUWwVrnm0QxECK4ZPG03/ruCMH2lKA5/bGUfY+st749/P4eCVafq9bMxJqIe4JpGLQjEayedFMdTbZMsEzeWuybx8FkTYItyXptgrXIeo6A2zLBrh2e0yPYViiL5VFOfa3YytEdYMu645FBS87FFoHNmX+jO9ggWEcOWK+24R1AyzNYm36tUIqe56Vnco/sQFs4jLx/UQgWnGoCbdRNf02CLc88lxRq1g7WyrHtXR/lvNsywa4dntMi2BELiRV/3oshHtnBBcFeYsYtLxsJgt0QwTKJdWyrNntq81Mvgwh1bo1gL4KJuBRI5OUl41JpVcHBBFMx1gePwnLOJuLe+fYeCPYY4Tktgh05arESblAn3sb4NZTZs5baAXpkkOWPci4m4qnWutHNnQfnC2cipsN6geoB0aEUI6nePKCP7EA9hGCdixIr+VspZ26u61ycnCxsagJtJHB+SScnHU+LqZrsM+R0XdLJyYqntRwtznEHe4zwnLkEy/u1vLijlhXLRLrUDpa6T+Hk5FHwRk3EOgqA9zxOR6PEmp/zyPoLSbB0WqdOzOdXWgjWUiNq4DygH4NgSf9FTluysuTiidXK75ShEPy2JScnPQY1U3ErLzB1jJJVbyFamOtdQYuAe/WXf9fe3YRWEI9ILGJZzpFgjxGeswTBUoeV2nTUsrI2wRKji9d7Lt4QGt5DlmE5IsUnl4YgHyDRnIN7zvwbJVhrMzHVeXBkDXpk/YUlWJ0aLxMHCeKZaDnTzmh8nQf0YxAsA6tDRnqJNfRkOFWiCa+WW7abuDWS2Jell8bsIiWa8GC7xTNYPSfXCs9ZimBbFztYyfH1GvQQlEcG8R2tpPUiJSyy0DJGO4N62m/VP+JFbFmGvLKOb0PUWJyQ/ch9/kNB1kqrF2fdr+H39+hFnDurc/rmyXW9lJ4rPze66xsG7UhexLRfmz69qRKtHeGWd7D0uXZ7UC//qd5ZNq+Rqqi5WhiMpkr0atsogdwDy/jkMpoqce8Eq8PnLMeukV3I6DO923RG6uF6N8ZLXwU54unuISiPDKLdVqpDT9pOK9e5Tszgaf9UguU9naUPWYf8Y92PFu2YVks448X5QhKsNSh3SIHGOTWgh5A8oB9rB2stgNF4vJrmvXWCZVwxlZKFKd+LmSd4K0xijWT/lha9RrL/1jHGHAG3xR1sGZ4zZcc1KmyX2sHmempzkvFp3WrkGT+PDKJd1lwc8VnIfbq5iDy+cCy0Qh497Z9DsCgvT1dJIkYUmPxNnEJJTlFeJfeH6QIW7ZDmxfnCEqw+e3tmSsxwlYSIh0w8oB+LYOmGFS7Qu8Kpdi0a9XkwGRFmcxJN1Oqn/eQh5qq5srQSgNcSBEDKpFybcl1dLUWedV3dyI0/tXFBMCDsytCF3O85Am6LBHus8JylCZaxw1Khb4LpHV94xk/LoJH8zJZiOUJMWE9IK3i1YoFhTmUHW96B7Gn/HIKtrXkuC6BNOBnWCmufjGplClOerd0c5ZH11jeH39+zibimwZWAeMwlw6Ad0URMX2om09ol4lzbdN80uazJsQeCpd1XTecphFyVBVPqnSoZdWoXrtcup+fyaTyEH6U0Z77X8hStWQe4rBlhwL20+sJ15hc5oYnHLksvtnKOgNsawR4zPGdpgqW+WlKUVipFz/hZ6VF7d0zXiOm56W7l5ynlkjmPgsiVi2VKwdEL1z1HFGA2cgabx8rahfI3+sK64kICrShfM+Uv15c0tJQMj6w/GsE2FIjhPy2dqYYP64xNuTG9iwB0oz2gH3MHSzst80luPzsnvP8o3Burz4mYkKUitReCpT9THJ4sr8+MFde10f/Xp/AnLmQmPEiXkR1ATdhSF+n0uFsWc91l02Xl5ZVi+Xsj3qgeAa37sTWCPWZ4zhoES53WReX8XlP8PONnOfvk+ZTThnJDFORYltZc5H5qTK/c3cpZMueaeMuXpTUPPe23iMBDsC18+Ru7WI6O6BPrir68i/HRl6Rc5ygXVvHI+lnve3awlba6fl6DYK07EWmU95YTD+jHJlj6c/0DgT7Z2Gm1BoDzlRclLTI/tyeCre3ee8H+eFdy7dblXbPzkoe5Jo8wkt5l0jyLYGP3S5IMb2G3i3LImLbKHAG3NYI9ZnhOxnQJJ6dyfJCZdxWRBxiDZvkIeMfPUirLT9WcNmt5vXvzEnLFtMpcsY5RvO3X3/MSLO9fN91ehDOgt0CunPOz660Vj6y36hh+/xwI1kqdCCi91IgauGHQjmwiLtuJCYUzLM4Ge+XuSQhwpdX9i4fLxAm9Okb+vsYZbPndKQ5PvA9WnL3ecqQTSRHhzBfFzHNVHiY3sk09WESuNPgt4noZH8xyvTJHwG2JYI8dnpNxXZpgqbem+Fnmfu/4sbtkfuB7YZVWTvU8F3l/RLlEUb19CmepzUNv+3U9UwiWOmj//UTkziJy6d4iSX9/aLoDGuW1VTyy3qpn+P1zIFgA0OEsI6kRNXDDoJ2QYGkzY4ZzF7sBrnwrr3tjt8rOjcxV+SaZuQukN7fXJtjaGVPtzEi3Fy0YAoRor1WYx9DcMeFCqFzzRc5hfW7a63v5d0zNNxKRW6d/s6Mdz7z6oFX/fgro/xlHmj3enTN+WyJYbWlaOzxnTYKl7tqxjQ4nmzJ+EOXN0k6ZsMPyGGPkPmCeJ53s7Q7hRRyDlIrfy5K37aPT0VJvzk9pf7kuphJsroOdORZDFIHrqL6wrv40+Ut41pVH1q9CsB7BEs9uGwEdSL5GvtJtIxCtCwQCgUDgBAjUdrAnaEp8cgUErDsjvUkRVmhWVBkIBAKBwPkjEAS77THGNIKZj9th8BTGnPkkFafW6gGpw/AgLIOv10yivW00o3WBQCAQCBwRgSDYI4I94VPaQQNX/Ruks8OR6nSSCu/7I9+IZwKBQCAQCAQMBIJgtz0trBAksjjhFdzzdLXi9XCAuq1jB7xtdKJ1gUAgEAhsGIEg2A0PTso1isu9TgGGOzrX9VmXPuNBiNfsw5WrPiEENz5kLnrOtrscrQsEAoFA4DwQCILd/ji2sjgRlvOMlJkI137ShfG8jhsjJIXbKvQ1cNvvfbQwEAgEAoGdIhAEu4+BI86XW3SuMKG5pO27Y0qv1jMrT6g+XgkEAoFAIBCwEAiC3c+88GRxyr16VjIvc/FwlEAgEAgEAoEjIhAEe0SwF/pUmZno6ocUfdxQkgvJsJ+fdrvc6EJeziiBQCAQCAQCJ0AgCPYEoMcnA4FAIBAIBM4fgSDY8x/j6GEgEAgEAoHACRAIgj0B6PHJQCAQCAQCgfNHIAj2/Mc4ehgIBAKBQCBwAgSCYE8AenwyEAgEAoFA4PwRCII9/zGOHgYCgUAgEAicAIEg2BOAHp8MBAKBQCAQOH8EgmDPf4yjh4FAIBAIBAInQCAI9gSgxycDgUAgEAgEzh+BINjzH+PoYSAQCAQCgcAJEAiCPQHo8clAIBAIBAKB80cgCPb8xzh6GAgEAoFAIHACBIJgTwB6fDIQCAQCgUDg/BEIgj3/MY4eBgKBQCAQCJwAgf8BebcCzBZkLMkAAAAASUVORK5CYII=\"/></switch></g></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-75\"><g><rect x=\"447.5\" y=\"470\" width=\"80\" height=\"30\" fill=\"none\" stroke=\"none\" pointer-events=\"all\"/></g><g><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 485px; margin-left: 449px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; color: #000000; \"><div style=\"display: inline-block; font-size: 12px; font-family: &quot;Helvetica&quot;; color: light-dark(#000000, #ffffff); line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">Bathroom</div></div></div></foreignObject><image x=\"449\" y=\"478.5\" width=\"78\" height=\"17\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATgAAABECAYAAAAV6ClkAAAAAXNSR0IArs4c6QAADhhJREFUeF7tnXWsNTsVxdfDgru7O8Hd3SG4u7sHexBcg0PwBHfn4e6uwRKCu7vr/B4tNKWdds6c890z564m9597Om1ndbq69+7euwfJxQgYASOwowgctKPv5dcyAkbACMgE54/ACBiBnUXABLezU+sXMwJGwATnb8AIGIGdRcAEt7NT6xczAkbABOdvwAgYgZ1FwAS3s1PrFzMCRsAE52/ACBiBnUVg1wnuvpIes+Ls/U3S9yR9SNIrJL1f0p9XbGsbHzuqpEMkXTwZ3NUkvXkbB+sxGYFVEDDB9aMG4R0s6WmS/tT/2J7UPLOke0p6oKSfVEZggtuTqXGnBxIBE9x0tJHorivpx9Mf3fgTJ5L04GFst5f0XUkXkPQjE9zGcXcHW4qACW61iXmPpGtJ+s1qj2/kqbMP6ub7JB0rtG6C2wjMbnRJCOw3gmst+jh3h5d0bElnk3RTSTcpTOr9JD12iyb73JI+KOnIJrgtmhUPZU8RMMH1wX8hSW+RdMyk+g8kXVTSt/qa2HgtE9zGIXYHS0PABNc/Y9i1nplVv7Gkl/Y3sdGaJriNwuvGl4iACa5/1k4i6SOSTpE88nxJt+5vYqM1TXAbhdeNLxEBE1z/rB1xsMm9VtKVkkc4bLi6pD/0N7Oxmia4jUHrhpeKgAlu2sy9MBw6xKc+IOkqkn7f2QyHFxARbiaXknRaSUdJnv1ncO+g3ZeFU1H872rlqpLe1Nn3HyVdTNJnQv2WH9zRJV1H0m2GPs4libFTIPMPS3pesEv2+ATivvJxSScPbUTcaAs7Joc1uLRQfiXpncMhz1MlfULSP0be72SSbiDphpLw/YtjBMdvSnprGOdXGu20IKTdSw5zc8swb8dLHmC8n5X0guAk3XuynuOfH4CB2Z0kXV/SaZL+vhEcz58dHNHzsbOmzyTprsNc832cOFTgOwKHJ0t69ZZsyi3cZ/9uguuH8HDhw8I9JJYXDYcMN+to4khBlX2EJIijt/w2+LS9qrJAN0Fwb5d094EsHpkQRm28jO9Ggej+NfJSJYIDx/tLulflOdq7nKR3F36HzFiol+0E8muBLHCjGRtn3tzUeYNYnxEcwsFmrNQI7teSHjZsmvfueLcHhc0hboKc/D8rbExjj/9c0vWGDe+9HX0suooJrn/6ThDCtc6YPMLBAzvpWDmppNcPYVHn6e/q/2ry0bIj59LcugkOlxjCta49cawsxieOkEdOcDhL49JCpEWtIL1dPvM15HvFZQfpMUprU4aaE8LYsyccJOyXDKF6l57SQagLoV5zIJGvjjxbIjje90mDtHuFCX0Sjvj4IB1z0n+Wzmf5ljC3lDaQzia2v5oJrn+OODF9cVK9x03kGMFuV1okPxsklI9K+mlo8/hBhYyOuunIkDognddlwz3H8Pwdw/9Qm7AHxjn9q6TXJKoIqiSL59uhfklF/WXw/0u7+XJQFfnf+SsLCPUXlRtSKpWc4FhcSMRxrD9MFtplglp1F0lPTxqj7n1GfA/jOFFpcXpmQzlMYTC1zSKtykHSu4YT8tMVnkethhSYN+b3EpKYu7wgJV1xMGF8uoJJjj/fA6ouJBcLOKFm0xd9gE1q0qAe2LMpIQ2n31nE9C+SzlnZYEubSP+KWEBNE1zfJPFhYbdI/eAeEAL5x1SeUrA/NjNUwJr/3BmGBf6cQHbp6N4h6RojcbDrOGRI+4NckLByVQuJFDWMRZUWEhIgXf29AGlOcLEKKh0xs/QVbW18k6caMEJVg3BjoT8k4Zy0sN89qjBO1EtIErNALu0hcT5hhHjYSHL1F6nsVgMBfawgqaIyY4M7b9Ymz9DO9wt9lTaYWA3Sut1gS3tlJrXzTjiYE46XFr7BuJY/H8wG2NvSwrxh18XmGQvPIcVhltjJYoIrT+thh6D64wTj+t0KKkNPqFZJpYUksVmNHRwwIj5kpMXU3kfs64WD8bw06nURHKTDIQgnxrVSkky/E8aHZJuXGsH1bBK0hfSCvShVvyABxolaNlaQctlUOJCIBekKyQupLy8lf0ckYdyBxg4QINFHF2yKTxmeu0eBFGsEB7EjxX2y8lJ8GxB9KunFqq3v8pQDwVHn1EnbJI/A/LGTZb8R3DomkZ36zh2nUEh9nAZGjPlw2T2/1DmIi4RTVFQ5CiomqY0+VXl+XQTXSzrYiVCf4vuNja9EcD0qfnxVThJfnr030iI2sp4C7qiVR0gql4gH4kZSRhWPBbxRNX/R0REkh+M3p8+x1Mi0RnC5al7qlk0yf/cx0k7b4HSaPmJhDtlIdykV2H9fzgTX8dWGKqhQSHPYcMZcF2KL2IFQac4XdkzyyeHOUFLhSqMokcJYvrZ1ENwU0kHlwfUDB+hYauMrvQsSIsTVwqPkf9hS13M8+c6RVHC7iKUkceab0ioq3FlDDsHUnFGKWy4RXC/++VzzTmy8uLG0TolRffmGY5nq6tS/Yragpglu+iRg44DoOAlsfUzTW//fE3tBcL2kwyhLCxRJID8IoW7pXbDvYTtrFdQpIkg41YxllRC5XCIuuaHgGoMEGwsHBLiq4OvWW0ruRCUpqYRfrzQ1B5P85N0E1zuzW1hvTkbf1utgpObkqmVPa7VT+30vCK6XdGoEV8uwMvVdUkxQD1n4sXDwAFmNuWCUMD3u4KzLYuZAIJZ0vJxOvjE7iVzVPpVLSaUsNiWCg/DHXGfiuHM8x3wGcyxMcKuuyC18Lie43nRJcQFz0ID9BiNsfkJGHRwyH7JGSQ4bzumDuwc+aZyopmXTKuqUFFClBdpLcKilRAYQEdEqOVlwOogtEpvTlNJy1C4RYI+fY2kMubSYR5FM3SDyPnKCK7Vfw8YEN+Wr2fK6cwgufTVUeT4MDN0x3xq/c+KIsR2fqd5CW3icE36DqkEYVPwr+cAdSIKbcifDHIKbsiDzOZyjUuWhdmkkyhwpM5/73EbWS3C9qrcJrnO17Tcb3BQJrgQhNibCplJfrB6DN5IZRMhivWDFAbVnyjYtwe03gkvJcpMEx9zm2LZigce+BxNcz2pJjvg7qy+u2rokuPjiJTeA3wU19gsFdNhAUMVw3E0DpnuAxBMdw3pKpia4/9jRpiQ4SLHOJbj0UGWTBFdSyU1wPatgZh1LcNMBLPkglYgHbHFLwN+qFDKU9szFMDh2ErqFO8kXw90KaQaOkhSQtrEON5H9JsFtm4rai78luM51a4LrBCqpVgpwLxnXcRbF+z612dEMbibPDcHmxIXWUi1NlSh2leDWdchQ8qdLE5au85Ah96crSfmW4KavvclPmOAmQ3boYUOegy0nOE7sCLXCkTUW3EmQ/gj76fGfM8H9B7kesuiZRULnkJDTMCVSNZEFhdIiwJ4+Yh3ia9NYV3LTca9HeketCW4KoivWNcFNB65HRS05YhL0TZB0D7kxKtxSsDcRexjLfrTBzXFqTWd3CY6+VlGnr8fRJ0xw0wAtSWYlF4CexdTqmXhXHE3Tsh8JriRZTT1oYN4ITyJ0LpbeUK1SmqqxuSuFUfWGapngWqti4u8muGmAkfqG1DLpoUEpp1auVtELaWne1tkdqcxJCImaut8JjvffRLA9KZ8IOk8l6k0E29eSLFhF7VwMc6qZ4PrRw38N2xvG6LTcIQte5jcC7YlVPVpSkWDo23aEdkFub6gklqzFetJNLjm00ivNWWD0d6AcfemrlC4JmybEV4p9TeenlC4J0iFB5+cK019Kl8SmRl+rpEtCcoRI86QCc/D3KWrnujXB1YGKEQfYwko54XiylkqnJAlQn3tVUVdK+foJC8Ot5OCRdNxjoVRcNELoE1ESsRA4/rhK9pM5C+xAExz91RJe1hJzYru8Rbi7IU94GdN8l+yh4FJKeMllL2xQpXsdaklKvx4SXqIO52UO/iY4E9yhCGwy2L6VmDBPcR6nhPAuEi1CjqRdggyx2cXbj2I9JBScfdN7WMeC4UtuDrRFim0C1Gnv5kGyrBFUrw1oLwhuXSnLcdFhIxlLkrCOlOWt78ME10lSc6rtNwluDlbpsz23EiE1kFwQlWdqQVrgOjwC/VN3A1JOQ5wlyYO55M4FpM1aSWMd5yywvSA4+uQdMQlwo9Yql84gzSIh92SAId8dYXmYJqYW5o/DCXwea2UO/pbgOmfEBNcJVKjGwiAy4eEVNTNvjUXYewUfz6K6sgC5NYoMuflhxVhacJ4ntItFmebdT8eUpuOZs8D2iuDiu5DyCCfdeJdqaxaRlrmcp3YBTO151FxOsx+auevU6vN9kGGGjaZ1Gfgc/E1wrRkPv5vgxoHipiPURCISDgnqXc/un7eKfQ3pCamMjK/pzUgkAMCuU7rouXSvQytVd7Q9ITlyh0F64pvGXs5ZYHtNcFGa49Yr7qW9cnbxc7zkmPsaiD/FFtbrf1j6IpgvTsG5S5TLs9OLn/lGOPHmghjy1rWILbY/B38TnAmuEwFXMwJGYGcR2HUJbmcnzi9mBIxAGwETXBsj1zACRmChCJjgFjpxHrYRMAJtBExwbYxcwwgYgYUiYIJb6MR52EbACLQRMMG1MXINI2AEFoqACW6hE+dhGwEj0EbABNfGyDWMgBFYKAImuIVOnIdtBIxAGwETXBsj1zACRmChCJjgFjpxHrYRMAJtBExwbYxcwwgYgYUiYIJb6MR52EbACLQRMMG1MXINI2AEFoqACW6hE+dhGwEj0EbABNfGyDWMgBFYKAImuIVOnIdtBIxAGwETXBsj1zACRmChCJjgFjpxHrYRMAJtBExwbYxcwwgYgYUiYIJb6MR52EbACLQRMMG1MXINI2AEFoqACW6hE+dhGwEj0Ebg33+1YYFPwy4PAAAAAElFTkSuQmCC\"/></switch></g></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-76\"><g><rect x=\"10.5\" y=\"147.75\" width=\"80\" height=\"30\" fill=\"none\" stroke=\"none\" pointer-events=\"all\"/></g><g><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 163px; margin-left: 12px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; color: #000000; \"><div style=\"display: inline-block; font-size: 12px; font-family: &quot;Helvetica&quot;; color: light-dark(#000000, #ffffff); line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">Bedroom 1</div></div></div></foreignObject><image x=\"12\" y=\"156.5\" width=\"78\" height=\"17\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATgAAABECAYAAAAV6ClkAAAAAXNSR0IArs4c6QAADkNJREFUeF7tnWWM9roVhOeWmVEqg8oqMzMz0y0zM+MtM6qsMpPKzMygksqoMjM3j+pI7qmTOHmT6Nvs+N/u68T22B4f8slBcjECRsAIbBSBgzY6Lg/LCBgBIyATnBeBETACm0XABLfZqfXAjIARMMF5DRgBI7BZBExwm51aD8wIGAETnNeAETACm0XABLfZqfXAjIARMMF5DRgBI7BZBPYKwZ1Q0sclnWTiTPxc0rclvVrSayV9T9K/J77rQH/shc1YD846eW9Jjz7QO+3+HVAIXFDSuyUdTtKLJN3ogOrdiM7sF4KLkHxK0o0lfWUEVnulqglur8zUgdnPo0t6kyRIjmKCW2GedpXgSl38l6SbSYIQtiTNmeBWWJAbbeKwkp4u6RbZ+ExwK0z2EgRHtyG5ayW1dYVhrNKECW4VmDfXCNrcPQrmDBPcClNdIrha29IxmlPpuJIuKeleBTveNyVdrJHmfrDCONZowgS3BsrbagNyu52kJ0s6VBiaCW6Fud6F4PLuHVHSU5Nqmv//Ic0fD15hHGs0YYJbA+XttIFaer/GTPOgjiGZ4FaY67kIjq4eT9J7G4/qGbJ+f1rSpST9eoWxLN2ECW5phLfz/mNJeo6kq/UMyQS3wnzPSXB0F1X1UVm/f5+8Rl9YYSxLN2GCWxrhvf9+VNLLS3qppKOF4eBwy6MrTHArzPfcBHcJSe8ME3k5SW9bYSxLN2GCWxrhvf3+00t6nqTzFIbxLEk/DuYaE9wK8z03wZ29cSx8UNKRsr5fKcX/1A6HU+7UyZ6HiH+KzED7R0lfkvRySS+R9Mvalxbq5e1cXdIpUx08wKjWGIZf30ilf07/ryW4o0h6s6QLp+e+nxY9C5xN8NgmuPoyaUyM58MphODtjc3m7z3jObakq6RQgzM27zlyVpc23pfUok8OvKcGshNLuq6k66U+Y0+igA2B3W+V9NwU7/jPmhcWpPt8XWDDvaqkO0o6m6S2PUwbHJhPkfQJSaW2wIXYS4JmMY+0xnwweY2kJ63g6OqKRmA+b96srRdLumfQbkxwlQtnl2pzE9wF0kY7TOrUnxq73IUkfaaykxDACySds7L+05Ih93eV9dtqJ0qbhk3VV76VNjoBzLsQ3PnSBi5509r2by2Jkz4W+npI2sQ1w+R2yZ0aYnpVByH0vQP8IQQ84zXla8lLCLkOxTxG8wUEx0HQpdLF9t8j6QaSfpJ+OHRq+3EZIXb1+QEpTKPvAKkZb1ed0j7icISwf5geiuM3we2CeOWzcxPc7ZM3tW2eGw1IMr8Y6A+LlWefUHCnDw2FMBQ2y+eHKqbfCV15paTjVNb/TdqEt6q8qlWS4BhX39h+lGyV3wl9GtvX/HEOCjBFShwqSLM3TFJZKz0NPZP/XkMgcYNfOUnqEFRtgeSQtjk4keo4FGoL+N+9gohr35fXy/cRh+It00Gfk74JbgqyOz4zJ8GhKmBry6WvmjCRrkBIhsaJ+9nGG/XFNM4zN6f+OQokCAldWhLqWV85l6R3NFIKMXyxoJZ+TtLhEymfNKuAWgZJ83xbuuIFI8GxyP+RSRn0FbXrD5LO36jbp0kq6h3C5mMjI4XF+Cna587vByT9NanwSMklYkLtvY6k3/aA0oc/j305Uw+78KfeM5PE0iUlxQ3OIXPNML6+OWiHcJ+kKuf3gGkTtflnyZuP3Tfi8TdJF2nWycd23DOlx9lHSPio7dzJLqnSJrgFgB965VwEhz2IBY4K0RZI4eKNavXdgU6UNjIq523TBo8bhrYQ/R8WNgfqEqpVqxLEZksETB1UhbsW7HknT+oa0mGp1BJc/uwTk0rd2vX4DXsXY2xVL/531hRyE4kY2+PdksE6fy8SMDdHmIPoveN/kCckWyqMD3UqEikE8ogGm6j+Yy/jfeAfSQQJ6fEd7cQNnld7RkMKSIG5TRXiJcToFeFAyr2RSHJcf4Isc1Khj8zPA0NfuC4VD5KhPTLX7ya4uZAc8Z5dCA5Jhec5he+cbjW0Tdde1WJzEzt3qqzP32gkMU5gbkL0FTy2ZDHJSYBNx6Iu2YNQZ9hIeblv4xB5TI+tqnSHsH1+LMGhMqK6DNmB2JxIblfIOgqe2NXYoH22Lux1kBVSbj4XODXeVQCzFLsIaUCWbxnA/yyNQ+CNiaDbqki5SElIfbF0ERz/x/HSNa5o9mjfOyS1M3fPDrbLWpPJiC1UXdUEVw3VfBWXuIvKIr92Iq6hnsbFO7Ro4/uQGPFQtaXLlkUmB1TTc2d1IcfrVxBOzAIxheDGqEfnbUji/SmlTttWH3FHTDgs8GQzt23BmA9p5ZIjv6G+IhXmBVscHuqakqf/aevjSLlLgbBKBMec4OiJ/crbxov+kUY6PUHo0G2SxNrXzxi29KsmXRGOsK/WDG7mOia4mQGted3cBIcN7BqVbvkS6YzZyIyv9I6SNzJ6d8cQDu0gAWHjyQM1x0hwY250YDxHjWoLqjdS0U9rJjTViQdHyZt9hGQvQlpuSw3h5N0AD67ocd+yLdgHsS1y2OSlRHCEoqCC9pVo06RuVxvxPadLYTjcLKCM9eqPgHywqgluEKL5K8xNcPQQFYxTnNCGvvCNGDM3dfE9XBKqZlsw8iKZ5DanuLjGEA7vPWZyDOSq3xiCe1myTw6FUpTawQ7GncYxpST1ROIv1UEiJgp/TImHB2PEdkZixz6Cq5WmCDmCBLHV9s1xqc9xfU9dY2Pw6KprgpsDxZHvWILg2i4MhW+gHuaqEE4J4sXGSCq0RTAwpNaWaGcpbRCkDhwVYwoeMvLctWUMwdVmaMFL+aHGUH/U1EgXWQz1uySdxbiryyaptH1XLeHEtgm3waNLDF0fNrscMjEGsXb+THBDK2Xi73s5o2/tZsRzh2fyZCniHQM6BvK84EElfOPrBRyj5IXtDlvRkBE+vor288BUvJGoSBAmBbJAvUTSaAueSOKixhQ8rbmHcAzB1UpGc9qMIr6QEI4LwlMoxPXhYW3LVAN86QApBbFGgov96ZuL2iDr+A4T3JgVPqLufiC4CEdXBoUuA3dctCPg7a0a1ZCSlDr2+hgNXjF5DdvGxxBcbXuxjfya11h8hghl6Pcx7cW5rCG4kimhq00T3JjZWKHufiQ4YMXoz8Il/q0tqFkYsgk6zYsJ7v8X4pIEF8lySYIrSWe72KBMcCuQ1pgm9ivBgVEpdIAsC1w6NsH1r6IlCS46VpYkuBpHz5i7mCa4MeyzQt39THAlT2DpRK9Ra+aYKquo/0UxzsGSBFejoprg/NnAOfZ37zt2ucnQ9eJS3FLJlhS9klyk5gJ2zeXwMcCU+lPrSMnbiV7fJWxwczoZYjxdxHcuJ0PJY1uS2K2i/m8y2DEEP2a9r1J3P0twtQQXvZK1wZtjJ5C5IByF3GZt4drUTUdmloheySUILgam0t8pCUO5r/uGYAuNpBPJdGr25eM3cW8fTZf+W3xLXmoTnAlu7N7duf4SElytiho3WJczYmiQRO2TJp1L9iRFJHcbmzm//hPJdGxIxBgpsFS31ou6nwJ9x0gwtsEN7YKVf9/PElzpLmVJYuLk587labO5qb0f2j5SyhBCzBtR73/J3htvTUCmXCl7XeW6KI1pCQmO7kTVcsrnF6O0VHtVa0xsGn0lBo5YujwAuvaqlgnONrjK7Te92twSXCkTBr0r3TnkECB9EFky2lKbhSRXhWLCRLy1SHB5oV9k2SDouC1IekTzD6U9JysF15fImpKXpQhuicv2XXdMl7hs35WSyCqqVdTpTDXxyTkJDhKBsDBe54XUOWSmJRlhLOTQR4rLs+uSUQQyiXcZ47Nc6yKlT54uqa8tbjsQi5fnPcM2xx3NLscGtzXIpc990FiWIriuQ4Jca9y+mJIuiYwdpDaKpZQuiZskEN+QdFtKl8TcMdckDo3FBGeCm0hT0x/bleDwoJHTrZQTru3VUPodDNJRCkOSe2gizNqEi0PSX1duNyQ5PlqCXS4vqL8QysEd8C5FcDTXlfAy5vlvuwYR44Hmmw4xFTvf5yTbR9cVuK6El13fu4CAb5KSgcaEl3253UxwJrjpTDXxySUv29Oloc1Fnb6kkvyep8wm1xnfeCil8SZxJVk3ujLX8q7STYsWujYNOM+TNy7/gHUJ3iUJjvbmSFnefsNgjZTlQ3NtgjPBTaSp6Y8tSXBjPnoCyT0ypeOeMhouwZOrv+aiPokTyZjLjYvaQiIAssPmaZmWJjj6ho2QVEExDXlNv0njjbmgj9za92APJYEkX9Sa8tEZDpf7D+BvgjPB1azbWessQXB83QrHAWl/hvKf5YNhk100peXOPat9A+76gtEQSH3fFYjP8pESYujOtMJl+1K/SUOOqhydHF1jBBPwx5s8Bn/e1/fx4lJ7qPd8O4NrYEPFBGeCG1ojs/++K8G1H0vhy1d8UYtNRR64XQr2JDYa3lC8niRmzD88zK0IvILPTxur9sPDpT61Hw3GTkibfR8cXiObSB9u2DpJOw7R5R9+zj/GTGJNyGYXTNoPYvMhZb5ZmuPCfGOrxLlDbBrfz6glUROcCW4XXvCzRsAIGIF1ENgrgb7roOFWjIAR2BQCJrhNTacHYwSMQI6ACc7rwQgYgc0iYILb7NR6YEbACJjgvAaMgBHYLAImuM1OrQdmBIyACc5rwAgYgc0iYILb7NR6YEbACJjgvAaMgBHYLAImuM1OrQdmBIyACc5rwAgYgc0iYILb7NR6YEbACJjgvAaMgBHYLAImuM1OrQdmBIyACc5rwAgYgc0iYILb7NR6YEbACJjgvAaMgBHYLAImuM1OrQdmBIyACc5rwAgYgc0iYILb7NR6YEbACJjgvAaMgBHYLAImuM1OrQdmBIyACc5rwAgYgc0i8B+yAiaBlhTsHwAAAABJRU5ErkJggg==\"/></switch></g></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-77\"><g><rect x=\"115.5\" y=\"270\" width=\"80\" height=\"30\" fill=\"none\" stroke=\"none\" pointer-events=\"all\"/></g><g><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 285px; margin-left: 117px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; color: #000000; \"><div style=\"display: inline-block; font-size: 12px; font-family: &quot;Helvetica&quot;; color: light-dark(#000000, #ffffff); line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">Bedroom 2</div></div></div></foreignObject><image x=\"117\" y=\"278.5\" width=\"78\" height=\"17\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATgAAABECAYAAAAV6ClkAAAAAXNSR0IArs4c6QAADzZJREFUeF7tnXOwBr0Vxp+vtjm1PbVt2/rar7Zt25ja9tS2jamm5tS2u79pdpqeZneT9929d9/k5L97391N8iR5cpSTA+TFEXAEHIFKETig0n55txwBR8ARkBOcTwJHwBGoFgEnuGqH1jvmCDgCTnA+BxwBR6BaBJzgqh1a75gj4Ag4wfkccAQcgWoRcIKrdmi9Y46AI+AE53PAEXAEqkVgVwjuuJI+JumEG47EzyR9S9KrJL1G0ncl/WvDb639tRd0fT0wauQ9JD1y7Y329u05Aqz9E3Vr4SBJV5R0ckmHj1rxI0kf6NbccyW9V9Lf9ryFM1TYCsFZqD4p6YaSvjwDhmv7hBPc2kZkfe05pSTmybkym/ZbSbeQ9EpJ/8h8ZxWPtUpwgP9PSTcOA12TNOcEt4qltcpGsN6vJuklkg65QQtfLekmkn6zwbv78krLBNeT3DWC2rovA7BApU5wC4BaySevGqSwgyX68yVJHw8S2kklXWCABJ8l6da7orLuMsHl2paOIumYki4u6e4JO943OlvDRTpp7vuVTGInuEoGcuZuYGPDpoY9Oy7YZx8mCTU0LgfvTDhs/k+XdCTz210kPXbm9i3yuRYILgbusJKeHFTT+P8P7P54wCII7/1HneD2HvO118g6f7yk20cNxUSTo71AjG/p1NpTRO/+UNL5JX17Fzq+9jbSvpQXNVeCs/07Vid+v6fzqJ4u+uFTki7RTYBf7QIYE210gqtgEGfuwkkkfVDS8aLvPqSzQ98vM5oAMntXJ+kdKnr/tpKeMnM7Z/9caxJcDyCq6iMiNH8XdqTPz47w3n/QCW7vMV97jdftwkBevIUEhubzOkmXjL5BuNW1JP19zZ1vleAuJukd0v+ki7qMpLeuebAy2+YElwlUQ489SRISV182IScrFHxIEmsG4WC1pVWCO2swuB4uGpkrSHpjwUiBHXYJQk2uIgnPU++d+kPnjv+ipJeFnfMXBd+1j8b14AU7WXgAGwqq9RPD7vqn8P9cgjuCpDd1QZwXDO99L8RFEeB52i7o89FdcPWlQp/oDxP6qd0zb5vwoB1d0pUk3VTS6U3wKHUQNIon7hMzeOJOIOnakq4T2tyHPoANgd3Yjp4d4h1z47fsQo7nBZLMlSXdTtJZIi8jpg02TIik90TacQQXYi9vEMwj/VwBE8IvnrCQo4vg3dd3KupFowbdOzgWSqbl5bs+vyF6IZ4vJd/Z02dbJbjzhYV2iID2H4Nb/NOZ6EMAz5d09sznsVUwqaynaur144dFw6IaK98MC50A5m0I7jxhAUOaqVAC2kDA5zMSjaGtDw6LeKpf/M7pEozemwSPgj+EgGc8p3w1hDZArlMxjymCYyO4bIgfsx5FW/+7JV2vw+nH4Qe8kYRVPCYj9uy+4dTJnKcGDhOkt/MGUj5aGKfS0y13Mp5TguTZHH+eMwD79UyrBHeb4E3tcc8dLCYr7z5uhACGxpIwFKSBz2UONqErr+gMucfIfP7XYRHePPOoVkqCo19jfRvynpW2Ne4SGwWYIiVOFebr9YNUtkmgag6BWILjGBOSOgSVWyA5pG02TqQ6NoXcAv6EYUwRce735ngO3DmyhQTaF/oINjnjNkcbNvpGiwSHqoCtLZa+csJEwOquA+c62XE/06mqXwijcMZO/TtbggQhIQy1qGdj5RyS3t5JKcTw2YJa+llJhw47KOcJ+4Jaxo7K+30Z8jZbgmNBYTDuiYO2onb9XhK7/6mCiootJ158Y8GjnPl9v6S/BBV+KHgUtReD9ViE/Bj+9DUOVB3Cn+eI60LFHJKSLMGxyVzdjOXYGPS43zOcloklJepEbf6pJLz52LAsUf9V0oW6efLRjVb0Mi+lvLDEzqGVrLq0RnDYI5jgqBAxKWCf+M7ESKUWMirnrYKaZRcMdbGQcMfH6h7qEqrVDwbqSxEwj76wU3FRE6w9j8mHuoZ0mCq5BBe/S8wUk7e36/Eb9i762Kte/O/MIeTGEjG2xztLwp4Xl7HgUcYF8hzyytE/PHlWdR4KVMVexvfA35LIWKCqJbi4/U/rIv2RAuMxYA0RYvRysyGxCfTrC0kOmyRkGdsCaSPjQ7hGXLB12o1kP4nEYrJGEk7i0wLBIakQR8cufIdwqqEHIzfYkcVN7BxBj335etiBOQkxVvDYksUkJoGxGCTUGRZSXO4l6VEjB51ZwCwKFpEtpQSHynizDAcAixP72eWiCsETuxptGVOxsNdBVki58Vjg1Hhnog+p2EVIg0DVN0/gf6ZgHGcM+4KUi5SE1GfLEMHxfxwvQ/2yZo/+u1NSO2P3TKP+5ZpMJro+y88pbQLtArtwvAHOUtncH9llgtsWCyb5NQNxTX3LTt6pSWu/h8T4ouifQ7asIwfV9JzRs5AjcUxThmfexQtMUGZcSgiuZGc+d0cS7zPBnyXBo6mjQxjzIS27cFBfkQrjgi0uju0aG8NUoCqOlDsmCCtFcDkLGi/6hzsN4TimIbcMWsNY+2zY0i+7wFocYV+ZmpgL/86cIqQk9sAyR2gvgcOrL60SHDYwsirknD9NkU7JQmYSpL6R8kZa724J4VAPEhA2nnhcSwiu5ESHja1C9UYq+knBrLcbR8qbjReQRYa9qi85hBM3Azw4ooc3sy/YB7EtstnEJUVwhKKggo4Va9Pk2aE67HdOE8Jw8HBSSr36BZBnP8qcJcSGdRKX0rmfXeESD7ZKcGCJRMQuTmjDWPiGjZnbdPI9VBKqZl9SwZZ2cZUQDt89anAMxKpfCcG9NNgnpzx4qXo2MTqnpB5L/KlnkIhJ+VNS7OZBH7GdcQRpjOBypSlCjiBBbLVjY5xqsz2KuOkcK8Fj7NmhM9u9d9jTJc2FdPjOthl9x5ozFb5hj7ngqSRerERSoX6CgSG1vlg7S2qBIHXgqCgp7LoEH/elhOByz/fipURFOWKoZIgsptqdks5wphAM25dLB6m0/zuXcGzdhNvg0SWGbgybbTYZG4OYO35rIriUIw68sFcSC4hUujNllyW43MWI5w7P5IlDxDsGdHaouOBBJXzja4mRs5IXtjtsRVM2Mfsp6o8DU/FGoiJBmBTIAvUSSaMveCKJiyopNiCzhOByJaM5bUYWX0gIxwXhKRTi+vCw9mVTA3xqA7FkSh2W4Gx7xsYiN8jafmMtBIeKjK0TyTYuO0ludKAFgrOTiUHkqBASVVyGDNx20paQzdizVg1JSamlx8eozx6pKSG43PrmPLYzRShTv5eMhx3LHIIrObe5ywSX8myDLWYSPKZDYU0l+O/5sy0SHCCnvEOoWRiyCTqNixPc/0/LJQnOnnFckuBS0pmtL0WCQwt1VwkuFUpDHzFD4NWOYx/3nKS2qbBVggOzVOjAc0LOeSe48Vm1JMFZx8qSBJfj6KmZ4Fj/jCVqaZx4gtHfufsXUlO2ZYJLeQJTO3qOWrPNJtO/6yrqf5CwY7AkweWoqLUSHGufsJlUYgWSKRAjuPpA3qmF1zLBpeKWUilgrFdyqUPGqfbkOlLicbZe3yVscHM6GWw8ncV3LidDymObkthbUFE5PcFRvPsnCIL+c99CbnqpKY7Z19+d4P6bD42BSBGc9UrmBm+WDixjQWQ+uc36wrGpGxVmlrBeySUIzgam0t5NEoamcpVZ0rFkumn25WN33sGPhEP/Pb4pL3XtBAe5pTKcEBXA5ohqOhUHWTq39+35lgkuV0W1C2zIGTE1iETtkyYdbxRJEcndxmKO1YBtc26VSIGpZ3O9qC0F+takokJuDw+JEOL5ytFDzmrboOepOb3631smuNRZypTExM7PmctTR6OZez60fyWVIYSYN6Le/xx9156agEw5KvPazJmU6tMSEhzNsarlJtcvWmkp96hWSWwabSUGjli6OAA696hWLQQ3lG5qKtA9c+qt87FWCS6VCYMRSp05BKNNr1yLVSGbMJEbwpHg4pK63ANJj2j+qbTn7M4cX2InjstSBLfEYfuhM6ZLHLYfSklUq4pKkDkhUHG6KYLMCare70P9i7FjiwQHiUBYGK/jQrQ2mWlJRmgLVwwixcXZdXPFeo51kdInTpc0VldqImKb44zmUPZUTmvcbSDP/lIEN7RJkGuN0xebpEsioDTO+9+PQypdEjYjiG9Kuk3FeDF2jDWJQ22pkeBS+JVmxFmMhJb8cCsEhweNfGCpnHA9vlPpdzBIWymM/GcPCoRpD+wPJVycykE3lNsNSY6U0RxVigvqL4Ry4MBEWYrgqG4o4SW53jhDa6PfIWLSXBOGYFOxc7qEsIWhI3BDCS+H7rsA/4NCMlCb8HIst1uNBJfKkLIzt9NvQ4C7THDb9Nu+O7W4eH4sqSS/xymzyXXGhRypi1tIXImLfuw+ydRJi77NfRpw3idvXHyBdQqTJQmO+uZIWZ6TpWKulOVTY10bwaVsyHOsHb9Vaw4UwzeWzCZScunJkBcqt6vEF5GrP+egPokTyZhrE1iO1UUiALLDxmmZliY42oONkFRBUzdOpdpOGm/MBTkpeCA5EkiSon2TS2fYXO4zgX9tBJeyX+bO17HnnODmQHFBguN2K9Jrc96uJO6HRXbhkJY79qyOdZdr/chiknNtXfydsXsFbH1cUkIM3RmMHWsvCI62cFgbVdk6OYZwARPwx5tcgj/fI+URDppzZc4x1HvuzuAY2FSpjeCst3uq/7m/O8HlIpXx3LYSXH9ZCjdfcaMWiyonm+9Y07AnsdDwhpJqicSM8cXDTAC8gs8LC2ubyPD+0mDshNTZ15O6cHgvsomM4YKtkwPaEF188XN8GTOJNSGbbTBho+E6P3LHkacsxoXxxlaJc4ejdtyfkUuitRHcUskinOAyiMsfcQQcAUdgMQR2xcmwGAD+YUfAEagXASe4esfWe+YINI+AE1zzU8ABcATqRcAJrt6x9Z45As0j4ATX/BRwAByBehFwgqt3bL1njkDzCDjBNT8FHABHoF4EnODqHVvvmSPQPAJOcM1PAQfAEagXASe4esfWe+YINI+AE1zzU8ABcATqRcAJrt6x9Z45As0j4ATX/BRwAByBehFwgqt3bL1njkDzCDjBNT8FHABHoF4EnODqHVvvmSPQPAJOcM1PAQfAEagXASe4esfWe+YINI+AE1zzU8ABcATqRcAJrt6x9Z45As0j4ATX/BRwAByBehFwgqt3bL1njkDzCDjBNT8FHABHoF4E/g1W+0+B1oJDzQAAAABJRU5ErkJggg==\"/></switch></g></g></g><g data-cell-id=\"C5ophgcA-7hmUAPyWBoe-78\"><g><rect x=\"205.5\" y=\"268.75\" width=\"80\" height=\"30\" fill=\"none\" stroke=\"none\" pointer-events=\"all\"/></g><g><g transform=\"translate(-0.5 -0.5)\"><switch><foreignObject style=\"overflow: visible; text-align: left;\" pointer-events=\"none\" width=\"100%\" height=\"100%\" requiredFeatures=\"http://www.w3.org/TR/SVG11/feature#Extensibility\"><div xmlns=\"http://www.w3.org/1999/xhtml\" style=\"display: flex; align-items: unsafe center; justify-content: unsafe center; width: 78px; height: 1px; padding-top: 284px; margin-left: 207px;\"><div style=\"box-sizing: border-box; font-size: 0; text-align: center; color: #000000; \"><div style=\"display: inline-block; font-size: 12px; font-family: &quot;Helvetica&quot;; color: light-dark(#000000, #ffffff); line-height: 1.2; pointer-events: all; white-space: normal; word-wrap: normal; \">Bedroom 3</div></div></div></foreignObject><image x=\"207\" y=\"277.5\" width=\"78\" height=\"17\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATgAAABECAYAAAAV6ClkAAAAAXNSR0IArs4c6QAAD7pJREFUeF7tnXWwNTkRxc+yyOJuBSwOixXu7u5ui7u7LLa4u0vhboW72+JSWOFauLszv/qSqtBkZpK5c++7d9L57707M0lOJyed7k5nP3lxBBwBR2ChCOy30H55txwBR8ARkBOcDwJHwBFYLAJOcIsVrXfMEXAEnOB8DDgCjsBiEXCCW6xovWOOgCPgBOdjwBFwBBaLgBPcYkXrHXMEHAEnOB8DjoAjsFgEdoXgTizpMEkHTpTELyR9R9JrJb1e0vcl/Wfit7b9tRd3fT04aeR9JT1m2xvt7ds4Asz9M0i6s6TLm7nFfPmwJMbSOyX9Y+Otm6nCVgjOwvVpSTeV9NWZcNymzzjBbZM0trMtp5P0MknnLmje7yXdVtJrJP2r4PmteqRVgkMI/5Z0i7BKLUmbc4Lbqim2dY25YiCro1S27HWSbinpd5Xv7enjLRNcJLnrhG3rngpixsqd4GYEc2GfupCkd0my5MYWlC0pZpwjSbqopJNn+v4+SdfcJZLbZYIrtS0dS9LxJV1a0n0ydrxvdcK9RKfN/XAhg9kJbiGCnLkbJ5X0HkkHJd9lF3OIpKd0c+Mvpr7TS3qupIuY/99T0hNmbtvaPtcCwaXgHVnS08LWNP3/od0fD1kbypv9sBPcZvHeldoY3w825Da2ezlm2N1cMnnv65IuJulnu9Dx1ggOmZygW5Xe33lUz5QI6DOSLiPpN7sgtJE2OsEtQIgzd+GEHSl90GhvaG13K4gmOLOkj0hiJxTLVSW9eeY2ruVzLRIcQLJVfXSC6B8kXVjSF9eC8mY/6gS3Wbx3obarSHpT0tDfhvH+5YLGHxC0uCskzz4ybG0LXt/bR1oluEtJerf0P+miEOA79lYcs9TuBDcLjIv6yCMk3T/p0duDs+Cvhb20Y+olkm5S+O6ePtYqwZ0zeI1SbxKr3FsqpAF2pw32vGtIOpWkw4X3/ySJ1fGVId7oVxXftY+m9eDBOnV4AAMxW2u2Gm9MjMSlBHc0SW8NHjM++YMuqPN8kn7ShRGcUdLjuuDqy4U+0Z+Pds6aZxQEfh5X0tUk3UoS25ujJh2ijg9Iep6kT80QQHoySdeXdIPQ5iMk2OARZCI/P8Q7lsZwWe0+HRfYcK8egmPPISnWh2mDBfOpXdDsJ3vixcCF2EuIAfNIHCtgQgjGk9fo6DpL0NjwjiLjFxl73NDwPHy3tX1VIMT43AtCyMgKw3ozr7ZKcLjLmWgIj/Ln4C36bCHsEACDpCRQkk8+Paj0BE3WFDxfTBom1VD5dpjoBDCvQnAXCHVBmnEC2noJ+nxOpjG09WFhEpf0kWj5u0wMIAV/CAHPeEnBMH6HIPOxmMccwbEQED/2cknHGKmQUIobdcGxPw3P7R/qfnxCiH2feGA4dbJNJwdy9ru+MVAii40+0yrB3TF4UyPYnGhgdfvlCPoMVt594gAB9H2CMBS0gS8USpjQlVd35Hi8wuexqzAJb1N4VCunwdGvob79OGgC3zVtqm1r+joLBZiiJY4VxuuNg1YWtaexd9LfSwjEEhwGdTR1CKq0xHgxFk4WKAihtIA/oRhjRFz6vVWeA2/CsbC5xcIcwYv6lVU+vKl3WyQ4tgrY2lLtqyRMBKzu1XOukxX3c5K+FAR31m77d64MCUJClw3bsyEZnycEZKaeq/g829LP9wRksi1jAPJ+LH3xgpbgmFD/TLQM2sq2649d/NQFu+02cVFsUe9kJh/bZo7x5DQ+zvx+SNLfwhaemKocMXHe8XojAaRD+NNXJlzcHvbhz3PPDlvMPi3JEhyLzLVN/4ZkEHG/Xzgtk54Dpk62zT8P3nzsvhaPvwcC+cSmSKCnHrbjjHfmRloe3vXrQVtCwKMQtUZw2IMY4GwhYoEUiPP53ghauYnMlvP2YYLbCUNdHGRmQKSTn+0SW6sf9dSXI2AexbB7945grD3vlGG7hnaYK6UEl777pLClToM/sXfRx7j14vmzh5AbS8TYHu8R7Hnpd9GAib1CBnarx/8gT0g2V+gftkZLpBAIGobd/jNB+R74WxIZCla1BJe25VmdfQ0tMJUBc4gQI+xUKQ4sGHF+oclhk4QsU1sgbUQ+EEZacgvJ6GSe4QFwOkUgdHCwMipZiGZoxnyfaIHg0FTIRsIqfNdwqiEiiKF+LNiRZ5ncxM6dJoH+m50mxgrMSYihgseWLCbp4B9aBdnOMJHSggfssQOHnRmYTAomkS21BMeW8dYFDgAmJ5rblZIKwRO7Gm0Z2mJhr4Os0HJTWeDUINrellzsIqSB7N42gv/ZQswWMoxlaJvVR3D8H8dLX7+s2SPWNaa1IztODOCAiKXUZDLS9eKfbxicYUMvECCPVlpiSiiueN0P7jLBrYoNg/y6gbjGvmUH79igtd9DY3xp8s8+WxaR45wVPG/yLOTIABwzPPMuXmDi+dJSQ3A126Pzh+DRIyaV1WxfWCw4/8jiEwvGfEjLHhti+4pWmBZscWTEKClg8t5O00vb2hfomiM4ZIKjx7YrrRsv+sc67fREpkG3CxrrUDtt2NKvu/biCPtaSedmeGZIa0XjZOcACZeGlczQpHk+0SrBEaJwrUK3fI50aiYyksp9I+eJst7dGsKhHjQgbDypXGsIruZEB8ZztoCxTDnCYxeOnDc7F2haQjjpDAEPNBA8qbFgH8S2yGKTltxkJxSFLehQsTZNnu2rw36HvGyE4Rwn/FDr1V+VDaznPfc9yJ2jXkQEDBH9qm2Z9f1WCQ4Q0YhYxQltGArfsDFzUwefDbYk8SaaSWpzspOrhnDo07GDYyDd+tUQ3CuCfXLMg5erZ0p0e07rscSfewaNmJCNmmIXD/qI7QzNbojgSrWpXLxYTsa5NtuErlPHWA0e8VkWELDEU0yYERobmK/iEJrSjrW80zLBRUDHwjesfQKnBPFitYeNCQZmwMdi7Sy5CYLWgaOiphDYSp67WGoIrjRDC15KzicePVTSRxZj7c5pZzZKnmyzaKWxlBKOrZtwGzy6xNANYbPKImM1oVL57SXB9ckI2yDmgmdmnA0EaqMNj5lNxuS/9t93meBKJyOeOzyTeIeIeMeAjoE8LXhQCd/4RgZxq3lhu8NWVCtc6k8DU/FGskWCMCmQBRMZTSMWPJHERdUU7CVpOpsagivVjOa0GVl8ISEcF4SnUIjrw8May1QDfG4ByR05sgRn2zMki9Iga/uNbSS42EZspYxLNLxYWNAw8byhZmDuxbMtEJzFFTsHKxAaVVr6DNwl9okpsrPbkNy9E7XHx2jHlU2mhxqCK63P1pEe86rFYoxQxn6vqa/kTKWtr3SbSTuWSHD0C6cXUQTp0cba86w1cprt2RYJDvByea5YlQj7INYnLU5w/z/c1klwlizXSXA57czWV3OwfKkEl3PS2B3IbKQ054daJTgwzIUO5A4RO8FtluCsY2WdBFfi6HGC2yd/m3IJ59jFg/d3Tk6a9VstE1zOE5hb0Uu2NXMIxbeo+1C0MlgnwZXY4Jzg9slljgw8c8yTqm+0THC5uKWcLcl6JTlIzQHsuSO6c+0pdaSkQrde33XY4OZ0Mth4OovvXE6GnMc2p7H7FjVPIU5wVdRa93BOu5ky+dNaSwnOeiVLgzfrergvOJfIfDy9sXBs6uaVB5utV3IdBGcDU2nvlIShnNcl02ya89+SjiXTqdmXSfvz8RDjFfHNeamXRnA41TgvTU444iPx1pN1hpi3mkJyCrTrGIEwNTSops6Vn21ZgyvdotoJ1ueMGBMGUfukSeeQPVkvGGBM5jQq3JJpbUhEjRaYe7bUi9pSoO+ub1E593tYFzlwkmSAcgKFEwk1xWrSU+MRa+pc+dmWCS53ljKnMeUS/pWeD40CymUIybnZ7TagNt4o16d1aHD0y24tp1y/aLWl0qNaNbFptJUYOGLp0gDo0qNau05wua05Cyxxn6WXOOcWw1oZrExWUz7QKsHlMmGAX+7MIRiRPogsGbGUZiFJt0I2YSK3hKPBpYV2kWWDwRcLmh7R/GNpz4k858gNWVPSsi6CW8dh+74zpus4bN+XkmhpW1TGQi7TSWmygr48fFO0wCkctdI7LRIcJAJhoXKnhYSJZKYlGaEt5NDn2rU0uy4ZRSATe5bRvsuxLlL6pOmShuritAOxeGneM2xznNHsc2xwWuPeJvNqbMe6CK5vkSDXGqcvpqRLImNH7jq6XLokTpJAfGPR9Ll0ScgOWZM41JYlElwu3VdJRhz4geNanFFOx+PQ+F2JkOZ+uRWCQ01HyLmccBHTsRUNg7TVwtDkHhoIszTh4pj215fbDU2OnGHY5dLC9hdCObhncKyL4KiuL+ElWihnaG1ST4gYDzR3OthU7GPnG/sSXvbddwEB3ywkA7UJL4dyuy2R4JCVTdnF/zAJsNCTiNMePWRccVk02l9ayHCDXZqzyFtfdpng5gR3bHJR11BSSX5PU2Zzfo87HnJpvElcechA5lq+lTtpEfsb04ATaMkRmvQC6xwm6yQ46psjZXm8w2DIJjRXyvIxWS+V4Bi/ffdDQG7k5uNcNItQ37hiccbLT6LTsYwzc87Pyd9ygtt3O1bppScMkkeFdNxTQOcQPFlRSw7qkziRgWQTWA7VSyIAEhOmd2Cum+BoDzZC8qWN3TiVazvaA1pEicGb8UoCSW7UmnLpDIvLA0bwXyrBxUV66vhF28NGTVLVnSA3OtwywXG7FY4DVO0agYEZR1QwUh9UyHJc60cWE64qrKlr6F4BWzWXlLC6Eu+U2rE2QXC0hXAEtsrWydEHEZiAP97kGkz4HimPcNBwx2dJYXtPLBjHwMbKkgkuznnGLwthvGN3DBOiBghh6rtHZOz9Pfu9FYKLl6Vw8xU3ajGpyAO3SkGVZ6LhDcXrSZLA9OJhTkXgFXxhmFilFw/n2hQvDcZOSJ1DFw5vIpvIEG7YOjFMQ3Tpxc9sb+JlzBitIZtVMGHsksKHi5QJXE1xQd7YKnHucNSO+zNKSXTpBBdlx/gl8Bc7JRr4gYlQ48XlEBu7iFXnyirzbKV3d4XgVuqkv+wIOAJtIuAE16bcvdeOQBMIOME1IWbvpCPQJgJOcG3K3XvtCDSBgBNcE2L2TjoCbSLgBNem3L3XjkATCDjBNSFm76Qj0CYCTnBtyt177Qg0gYATXBNi9k46Am0i4ATXpty9145AEwg4wTUhZu+kI9AmAk5wbcrde+0INIGAE1wTYvZOOgJtIuAE16bcvdeOQBMIOME1IWbvpCPQJgJOcG3K3XvtCDSBgBNcE2L2TjoCbSLgBNem3L3XjkATCDjBNSFm76Qj0CYCTnBtyt177Qg0gYATXBNi9k46Am0i4ATXpty9145AEwg4wTUhZu+kI9AmAk5wbcrde+0INIHAfwEE4GOBQvnaWQAAAABJRU5ErkJggg==\"/></switch></g></g></g></g></g></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e4_shape\" transform=\"matrix(0.185539 0 0 0.185539 146.434 53.3313)\"><path d=\"M3.8,80h12.3c1.5,0,2.9,.9,3.5,2.4c0,0,0,0,0,0c.6,1.4,.3,3,-.8,4.1l-8.7,8.7c-1.5,1.5,-1.5,3.9,0,5.4l17.3,17.3c1.5,1.5,3.9,1.5,5.4,0l8.7,-8.7c1.1,-1.1,2.7,-1.4,4.1,-.8c0,0,0,0,0,0c1.4,.6,2.4,2,2.4,3.5v12.3c0,2.1,1.7,3.8,3.8,3.8h24.4c2.1,0,3.8,-1.7,3.8,-3.8v-12.3c0,-1.5,.9,-2.9,2.4,-3.5c0,0,0,0,0,0c1.4,-.6,3,-.3,4.1,.8l8.7,8.7c1.5,1.5,3.9,1.5,5.4,0l17.3,-17.3c1.5,-1.5,1.5,-3.9,0,-5.4l-8.7,-8.7c-1.1,-1.1,-1.4,-2.7,-.8,-4.1c0,0,0,0,0,0c.6,-1.4,2,-2.4,3.5,-2.4h12.3c2.1,0,3.8,-1.7,3.8,-3.8v-24.4c0,-2.1,-1.7,-3.8,-3.8,-3.8h-12.3c-1.5,0,-2.9,-.9,-3.5,-2.4c0,0,0,0,0,0c-.6,-1.4,-.3,-3,.8,-4.1l8.7,-8.7c1.5,-1.5,1.5,-3.9,0,-5.4l-17.3,-17.3c-1.5,-1.5,-3.9,-1.5,-5.4,0l-8.7,8.7c-1.1,1.1,-2.7,1.4,-4.1,.8c0,0,0,0,0,0c-1.4,-.6,-2.4,-2,-2.4,-3.5v-12.3c0,-2.1,-1.7,-3.8,-3.8,-3.8h-24.4c-2.1,0,-3.8,1.7,-3.8,3.8v12.3c0,1.5,-.9,2.9,-2.4,3.5c0,0,0,0,0,0c-1.4,.6,-3,.3,-4.1,-.8l-8.7,-8.7c-1.5,-1.5,-3.9,-1.5,-5.4,0l-17.3,17.3c-1.5,1.5,-1.5,3.9,0,5.4l8.7,8.7c1.1,1.1,1.4,2.7,.8,4.1c0,0,0,0,0,0c-.6,1.4,-2,2.4,-3.5,2.4h-12.3c-2.1,0,-3.8,1.7,-3.8,3.8v24.4c0,2.1,1.7,3.8,3.8,3.8ZM64,32c17.7,0,32,14.3,32,32s-14.3,32,-32,32s-32,-14.3,-32,-32s14.3,-32,32,-32Z\"/><path d=\"M72,64c0,4.4-3.6,8-8,8s-8-3.6-8-8c0-4.4,3.6-8,8-8s8,3.6,8,8Z\"/></g><path d=\"M-80.799718,-313.439398c-33.1,0,-60,26.9,-60,60h56v48c0,4.4,-3.6,8,-8,8s-8,-3.6,-8,-8c0,-2.2,-1.8,-4,-4,-4s-4,1.8,-4,4c0,8.8,7.2,16,16,16s16,-7.2,16,-16v-48h56c0,-33.1,-26.9,-60,-60,-60Z\" style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e5_shape\" transform=\"matrix(0.199505 0 0 0.199505 246.76 84.1985)\"/><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e6_shape\" transform=\"matrix(0.208732 0 0 0.208732 155.649 92.9129)\"><path d=\"M136.318358,-344.295809c-5.4,0,-9.8,4.4,-9.8,9.8v92.4c0,5.4,4.4,9.8,9.8,9.8h92.4c5.4,0,9.8,-4.4,9.8,-9.8v-92.4c0,-5.4,-4.4,-9.8,-9.8,-9.8h-14.2v16h-64v-16h-14.2ZM150.518358,-296.295809h24v8h-24v-8ZM174.518358,-256.295809h-24v-8h24v8ZM214.518358,-272.295809h-64v-8h64v8ZM214.518358,-312.295809v8h-64v-8h64Z\"/><path d=\"M-138.644426,1793.776805c-5.4,0,-9.8,4.4,-9.8,9.8v92.4c0,5.4,4.4,9.8,9.8,9.8h92.4c5.4,0,9.8,-4.4,9.8,-9.8v-92.4c0,-5.4,-4.4,-9.8,-9.8,-9.8h-14.2v16h-64v-16h-14.2ZM-124.444426,1841.776805h24v8h-24v-8ZM-100.444426,1881.776805h-24v-8h24v8ZM-60.444426,1865.776805h-64v-8h64v8ZM-60.444426,1821.036071v12.740734h-64v-8h64Z\" id=\"e38_path\"/><path d=\"M136.318358,-344.295809c-5.4,0,-9.8,4.4,-9.8,9.8v92.4c0,5.4,4.4,9.8,9.8,9.8h92.4c5.4,0,9.8,-4.4,9.8,-9.8v-92.4c0,-5.4,-4.4,-9.8,-9.8,-9.8h-14.2v16h-64v-16h-14.2ZM150.518358,-296.295809h24v8h-24v-8ZM174.518358,-256.295809h-24v-8h24v8ZM214.518358,-272.295809h-64v-8h64v8ZM214.518358,-312.295809v8h-64v-8h64Z\" id=\"e29_path\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e9_shape\" transform=\"matrix(0.239655 0 0 0.239655 251.325 15.7282)\"><path d=\"M24,58.2c-.6,13.2,5.9,24.9,16,31.7v14.1h40v-14.1c9.6,-6.5,16,-17.5,16,-29.9,0,-20.3,-16.7,-36.6,-37.1,-36,-18.6,.6,-33.9,15.6,-34.8,34.2Z\"/><path d=\"M40,112.2c0,8.7,7.1,15.8,15.8,15.8h8.3c8.7,0,15.8-7.1,15.8-15.8v-.2h-40v.2Z\"/><path d=\"M64,4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M120,60c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M8,60c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M103.6,20.4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M24.4,99.6c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M24.4,20.4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M103.6,99.6c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e2_shape\" transform=\"matrix(0.208732 0 0 0.208732 144.369 19.9959)\"/><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e16_shape\" transform=\"matrix(0.185539 0 0 0.185539 146.434 53.3313)\"><path d=\"M3.8,80h12.3c1.5,0,2.9,.9,3.5,2.4c0,0,0,0,0,0c.6,1.4,.3,3,-.8,4.1l-8.7,8.7c-1.5,1.5,-1.5,3.9,0,5.4l17.3,17.3c1.5,1.5,3.9,1.5,5.4,0l8.7,-8.7c1.1,-1.1,2.7,-1.4,4.1,-.8c0,0,0,0,0,0c1.4,.6,2.4,2,2.4,3.5v12.3c0,2.1,1.7,3.8,3.8,3.8h24.4c2.1,0,3.8,-1.7,3.8,-3.8v-12.3c0,-1.5,.9,-2.9,2.4,-3.5c0,0,0,0,0,0c1.4,-.6,3,-.3,4.1,.8l8.7,8.7c1.5,1.5,3.9,1.5,5.4,0l17.3,-17.3c1.5,-1.5,1.5,-3.9,0,-5.4l-8.7,-8.7c-1.1,-1.1,-1.4,-2.7,-.8,-4.1c0,0,0,0,0,0c.6,-1.4,2,-2.4,3.5,-2.4h12.3c2.1,0,3.8,-1.7,3.8,-3.8v-24.4c0,-2.1,-1.7,-3.8,-3.8,-3.8h-12.3c-1.5,0,-2.9,-.9,-3.5,-2.4c0,0,0,0,0,0c-.6,-1.4,-.3,-3,.8,-4.1l8.7,-8.7c1.5,-1.5,1.5,-3.9,0,-5.4l-17.3,-17.3c-1.5,-1.5,-3.9,-1.5,-5.4,0l-8.7,8.7c-1.1,1.1,-2.7,1.4,-4.1,.8c0,0,0,0,0,0c-1.4,-.6,-2.4,-2,-2.4,-3.5v-12.3c0,-2.1,-1.7,-3.8,-3.8,-3.8h-24.4c-2.1,0,-3.8,1.7,-3.8,3.8v12.3c0,1.5,-.9,2.9,-2.4,3.5c0,0,0,0,0,0c-1.4,.6,-3,.3,-4.1,-.8l-8.7,-8.7c-1.5,-1.5,-3.9,-1.5,-5.4,0l-17.3,17.3c-1.5,1.5,-1.5,3.9,0,5.4l8.7,8.7c1.1,1.1,1.4,2.7,.8,4.1c0,0,0,0,0,0c-.6,1.4,-2,2.4,-3.5,2.4h-12.3c-2.1,0,-3.8,1.7,-3.8,3.8v24.4c0,2.1,1.7,3.8,3.8,3.8ZM64,32c17.7,0,32,14.3,32,32s-14.3,32,-32,32s-32,-14.3,-32,-32s14.3,-32,32,-32Z\" id=\"e16_path\"/><path d=\"M72,64c0,4.4,-3.6,8,-8,8s-8,-3.6,-8,-8c0,-4.4,3.6,-8,8,-8s8,3.6,8,8Z\" id=\"e17_path\"/></g><path d=\"M-80.799718,-313.439398c-33.1,0,-60,26.9,-60,60h56v48c0,4.4,-3.6,8,-8,8s-8,-3.6,-8,-8c0,-2.2,-1.8,-4,-4,-4s-4,1.8,-4,4c0,8.8,7.2,16,16,16s16,-7.2,16,-16v-48h56c0,-33.1,-26.9,-60,-60,-60Z\" style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e17_shape\" transform=\"matrix(0.199505 0 0 0.199505 246.76 84.1985)\"/><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e18_shape\" transform=\"matrix(0.239655 0 0 0.239655 251.325 15.7282)\"><path d=\"M24,58.2c-.6,13.2,5.9,24.9,16,31.7v14.1h40v-14.1c9.6,-6.5,16,-17.5,16,-29.9,0,-20.3,-16.7,-36.6,-37.1,-36,-18.6,.6,-33.9,15.6,-34.8,34.2Z\" id=\"e18_path\"/><path d=\"M40,112.2c0,8.7,7.1,15.8,15.8,15.8h8.3c8.7,0,15.8-7.1,15.8-15.8v-.2h-40v.2Z\" id=\"e19_path\"/><path d=\"M64,4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\" id=\"e20_path\"/><path d=\"M120,60c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\" id=\"e21_path\"/><path d=\"M8,60c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\" id=\"e22_path\"/><path d=\"M103.6,20.4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\" id=\"e23_path\"/><path d=\"M24.4,99.6c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\" id=\"e24_path\"/><path d=\"M24.4,20.4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\" id=\"e25_path\"/><path d=\"M103.6,99.6c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\" id=\"e26_path\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e26_shape\" transform=\"matrix(0.208732 0 0 0.208732 144.369 19.9959)\"/><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e3_shape\" transform=\"matrix(0.247386 0 0 0.247386 83.0174 466.96)\"><path d=\"M28,112h72c15.5,0,28,-12.5,28,-28s-12.5,-28,-28,-28c-.1,0,-.2,0,-.2,0c-2,-18,-17.2,-32,-35.8,-32s-33.8,14,-35.8,32c-.1,0,-.2,0,-.2,0c-15.5,0,-28,12.5,-28,28s12.5,28,28,28Z\"/><path d=\"M267.999717,-1719.997843h72c15.5,0,28,-12.5,28,-28s-12.5,-28,-28,-28c-.1,0,-.2,0,-.2,0c-2,-18,-17.2,-32,-35.8,-32s-33.8,14,-35.8,32c-.1,0,-.2,0,-.2,0c-15.5,0,-28,12.5,-28,28s12.5,28,28,28Z\" id=\"temp_indoor_bedroom1\" style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\"/></g><path d=\"M247.11111,288.740738c-33.1,0,-60,26.9,-60,60h56v48c0,4.4,-3.6,8,-8,8s-8,-3.6,-8,-8c0,-2.2,-1.8,-4,-4,-4s-4,1.8,-4,4c0,8.8,7.2,16,16,16s16,-7.2,16,-16v-48h56c0,-33.1,-26.9,-60,-60,-60Z\" style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e7_shape\" transform=\"matrix(0.215465 0 0 0.215465 120.875 401.778)\"/><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e10_shape\" transform=\"matrix(0.239655 0 0 0.239655 85.986 425.399)\"><path d=\"M24,58.2c-.6,13.2,5.9,24.9,16,31.7v14.1h40v-14.1c9.6,-6.5,16,-17.5,16,-29.9,0,-20.3,-16.7,-36.6,-37.1,-36,-18.6,.6,-33.9,15.6,-34.8,34.2Z\"/><path d=\"M40,112.2c0,8.7,7.1,15.8,15.8,15.8h8.3c8.7,0,15.8-7.1,15.8-15.8v-.2h-40v.2Z\"/><path d=\"M64,4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M120,60c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M8,60c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M103.6,20.4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M24.4,99.6c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M24.4,20.4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M103.6,99.6c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e11_shape\" transform=\"matrix(0.231924 0 0 0.231924 122.599 426.389)\"><path d=\"M3.8,80h12.3c1.5,0,2.9,.9,3.5,2.4c0,0,0,0,0,0c.6,1.4,.3,3,-.8,4.1l-8.7,8.7c-1.5,1.5,-1.5,3.9,0,5.4l17.3,17.3c1.5,1.5,3.9,1.5,5.4,0l8.7,-8.7c1.1,-1.1,2.7,-1.4,4.1,-.8c0,0,0,0,0,0c1.4,.6,2.4,2,2.4,3.5v12.3c0,2.1,1.7,3.8,3.8,3.8h24.4c2.1,0,3.8,-1.7,3.8,-3.8v-12.3c0,-1.5,.9,-2.9,2.4,-3.5c0,0,0,0,0,0c1.4,-.6,3,-.3,4.1,.8l8.7,8.7c1.5,1.5,3.9,1.5,5.4,0l17.3,-17.3c1.5,-1.5,1.5,-3.9,0,-5.4l-8.7,-8.7c-1.1,-1.1,-1.4,-2.7,-.8,-4.1c0,0,0,0,0,0c.6,-1.4,2,-2.4,3.5,-2.4h12.3c2.1,0,3.8,-1.7,3.8,-3.8v-24.4c0,-2.1,-1.7,-3.8,-3.8,-3.8h-12.3c-1.5,0,-2.9,-.9,-3.5,-2.4c0,0,0,0,0,0c-.6,-1.4,-.3,-3,.8,-4.1l8.7,-8.7c1.5,-1.5,1.5,-3.9,0,-5.4l-17.3,-17.3c-1.5,-1.5,-3.9,-1.5,-5.4,0l-8.7,8.7c-1.1,1.1,-2.7,1.4,-4.1,.8c0,0,0,0,0,0c-1.4,-.6,-2.4,-2,-2.4,-3.5v-12.3c0,-2.1,-1.7,-3.8,-3.8,-3.8h-24.4c-2.1,0,-3.8,1.7,-3.8,3.8v12.3c0,1.5,-.9,2.9,-2.4,3.5c0,0,0,0,0,0c-1.4,.6,-3,.3,-4.1,-.8l-8.7,-8.7c-1.5,-1.5,-3.9,-1.5,-5.4,0l-17.3,17.3c-1.5,1.5,-1.5,3.9,0,5.4l8.7,8.7c1.1,1.1,1.4,2.7,.8,4.1c0,0,0,0,0,0c-.6,1.4,-2,2.4,-3.5,2.4h-12.3c-2.1,0,-3.8,1.7,-3.8,3.8v24.4c0,2.1,1.7,3.8,3.8,3.8ZM64,32c17.7,0,32,14.3,32,32s-14.3,32,-32,32s-32,-14.3,-32,-32s14.3,-32,32,-32Z\"/><path d=\"M72,64c0,4.4-3.6,8-8,8s-8-3.6-8-8c0-4.4,3.6-8,8-8s8,3.6,8,8Z\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e12_shape\" transform=\"matrix(0.231924 0 0 0.231924 212.648 463.126)\"><path d=\"M28,112h72c15.5,0,28,-12.5,28,-28s-12.5,-28,-28,-28c-.1,0,-.2,0,-.2,0,-2,-18,-17.2,-32,-35.8,-32s-33.8,14,-35.8,32c-.1,0,-.2,0,-.2,0,-15.5,0,-28,12.5,-28,28s12.5,28,28,28Z\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e13_shape\" transform=\"matrix(0.231924 0 0 0.231924 243.447 416.493)\"><path d=\"M64.733335,199.466673c-5.4,0,-9.8,4.4,-9.8,9.8v92.4c0,5.4,4.4,9.8,9.8,9.8h92.4c5.4,0,9.8,-4.4,9.8,-9.8v-92.4c0,-5.4,-4.4,-9.8,-9.8,-9.8h-14.2v16h-64v-16h-14.2ZM78.933335,247.466673h24v8h-24v-8ZM102.933335,287.466673h-24v-8h24v8ZM142.933335,271.466673h-64v-8h64v8ZM142.933335,231.466673v8h-64v-8h64Z\"/></g><path d=\"M68,4c-33.1,0,-60,26.9,-60,60h56v48c0,4.4,-3.6,8,-8,8s-8,-3.6,-8,-8c0,-2.2,-1.8,-4,-4,-4s-4,1.8,-4,4c0,8.8,7.2,16,16,16s16,-7.2,16,-16v-48h56c0,-33.1,-26.9,-60,-60,-60Z\" style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e14_shape\" transform=\"matrix(0.199505 0 0 0.199505 296.152 464.183)\"/><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e19_shape\" transform=\"matrix(0.239655 0 0 0.239655 214.627 425.399)\"><path d=\"M24,58.2c-.6,13.2,5.9,24.9,16,31.7v14.1h40v-14.1c9.6,-6.5,16,-17.5,16,-29.9,0,-20.3,-16.7,-36.6,-37.1,-36,-18.6,.6,-33.9,15.6,-34.8,34.2Z\"/><path d=\"M40,112.2c0,8.7,7.1,15.8,15.8,15.8h8.3c8.7,0,15.8-7.1,15.8-15.8v-.2h-40v.2Z\"/><path d=\"M64,4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M120,60c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M8,60c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M103.6,20.4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M24.4,99.6c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M24.4,20.4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M103.6,99.6c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e20_shape\" transform=\"matrix(0.239655 0 0 0.239655 255.198 422.431)\"><path d=\"M3.8,80h12.3c1.5,0,2.9,.9,3.5,2.4,0,0,0,0,0,0,.6,1.4,.3,3,-.8,4.1l-8.7,8.7c-1.5,1.5,-1.5,3.9,0,5.4l17.3,17.3c1.5,1.5,3.9,1.5,5.4,0l8.7,-8.7c1.1,-1.1,2.7,-1.4,4.1,-.8,0,0,0,0,0,0,1.4,.6,2.4,2,2.4,3.5v12.3c0,2.1,1.7,3.8,3.8,3.8h24.4c2.1,0,3.8,-1.7,3.8,-3.8v-12.3c0,-1.5,.9,-2.9,2.4,-3.5,0,0,0,0,0,0,1.4,-.6,3,-.3,4.1,.8l8.7,8.7c1.5,1.5,3.9,1.5,5.4,0l17.3,-17.3c1.5,-1.5,1.5,-3.9,0,-5.4l-8.7,-8.7c-1.1,-1.1,-1.4,-2.7,-.8,-4.1,0,0,0,0,0,0,.6,-1.4,2,-2.4,3.5,-2.4h12.3c2.1,0,3.8,-1.7,3.8,-3.8v-24.4c0,-2.1,-1.7,-3.8,-3.8,-3.8h-12.3c-1.5,0,-2.9,-.9,-3.5,-2.4,0,0,0,0,0,0,-.6,-1.4,-.3,-3,.8,-4.1l8.7,-8.7c1.5,-1.5,1.5,-3.9,0,-5.4l-17.3,-17.3c-1.5,-1.5,-3.9,-1.5,-5.4,0l-8.7,8.7c-1.1,1.1,-2.7,1.4,-4.1,.8,0,0,0,0,0,0,-1.4,-.6,-2.4,-2,-2.4,-3.5v-12.3c0,-2.1,-1.7,-3.8,-3.8,-3.8h-24.4c-2.1,0,-3.8,1.7,-3.8,3.8v12.3c0,1.5,-.9,2.9,-2.4,3.5,0,0,0,0,0,0,-1.4,.6,-3,.3,-4.1,-.8l-8.7,-8.7c-1.5,-1.5,-3.9,-1.5,-5.4,0l-17.3,17.3c-1.5,1.5,-1.5,3.9,0,5.4l8.7,8.7c1.1,1.1,1.4,2.7,.8,4.1,0,0,0,0,0,0,-.6,1.4,-2,2.4,-3.5,2.4h-12.3c-2.1,0,-3.8,1.7,-3.8,3.8v24.4c0,2.1,1.7,3.8,3.8,3.8ZM64,32c17.7,0,32,14.3,32,32s-14.3,32,-32,32,-32,-14.3,-32,-32,14.3,-32,32,-32Z\"/><path d=\"M72,64c0,4.4-3.6,8-8,8s-8-3.6-8-8c0-4.4,3.6-8,8-8s8,3.6,8,8Z\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e24_shape\" transform=\"matrix(0.247386 0 0 0.247386 455.086 425.399)\"/><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e25_shape\" transform=\"matrix(0.247386 0 0 0.247386 409.567 387.797)\"><path d=\"M28,112h72c15.5,0,28,-12.5,28,-28s-12.5,-28,-28,-28c-.1,0,-.2,0,-.2,0,-2,-18,-17.2,-32,-35.8,-32s-33.8,14,-35.8,32c-.1,0,-.2,0,-.2,0,-15.5,0,-28,12.5,-28,28s12.5,28,28,28Z\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e27_shape\" transform=\"matrix(0.239655 0 0 0.239655 448.221 386.807)\"><path d=\"M17.8,16c-5.4,0-9.8,4.4-9.8,9.8v92.4c0,5.4,4.4,9.8,9.8,9.8h92.4c5.4,0,9.8-4.4,9.8-9.8v-92.4c0-5.4-4.4-9.8-9.8-9.8h-14.2v16h-64v-16h-14.2ZM32,64h24v8h-24v-8ZM56,104h-24v-8h24v8ZM96,88h-64v-8h64v8ZM96,48v8h-64v-8h64Z\"/></g><path d=\"M68,4c-33.1,0,-60,26.9,-60,60h56v48c0,4.4,-3.6,8,-8,8s-8,-3.6,-8,-8c0,-2.2,-1.8,-4,-4,-4s-4,1.8,-4,4c0,8.8,7.2,16,16,16s16,-7.2,16,-16v-48h56c0,-33.1,-26.9,-60,-60,-60Z\" style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e28_shape\" transform=\"matrix(0.199505 0 0 0.199505 412.918 424.601)\"/><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e29_shape\" transform=\"matrix(0.208732 0 0 0.208732 451.127 425.399)\"><path d=\"M3.8,80h12.3c1.5,0,2.9,.9,3.5,2.4,0,0,0,0,0,0,.6,1.4,.3,3,-.8,4.1l-8.7,8.7c-1.5,1.5,-1.5,3.9,0,5.4l17.3,17.3c1.5,1.5,3.9,1.5,5.4,0l8.7,-8.7c1.1,-1.1,2.7,-1.4,4.1,-.8,0,0,0,0,0,0,1.4,.6,2.4,2,2.4,3.5v12.3c0,2.1,1.7,3.8,3.8,3.8h24.4c2.1,0,3.8,-1.7,3.8,-3.8v-12.3c0,-1.5,.9,-2.9,2.4,-3.5,0,0,0,0,0,0,1.4,-.6,3,-.3,4.1,.8l8.7,8.7c1.5,1.5,3.9,1.5,5.4,0l17.3,-17.3c1.5,-1.5,1.5,-3.9,0,-5.4l-8.7,-8.7c-1.1,-1.1,-1.4,-2.7,-.8,-4.1,0,0,0,0,0,0,.6,-1.4,2,-2.4,3.5,-2.4h12.3c2.1,0,3.8,-1.7,3.8,-3.8v-24.4c0,-2.1,-1.7,-3.8,-3.8,-3.8h-12.3c-1.5,0,-2.9,-.9,-3.5,-2.4,0,0,0,0,0,0,-.6,-1.4,-.3,-3,.8,-4.1l8.7,-8.7c1.5,-1.5,1.5,-3.9,0,-5.4l-17.3,-17.3c-1.5,-1.5,-3.9,-1.5,-5.4,0l-8.7,8.7c-1.1,1.1,-2.7,1.4,-4.1,.8,0,0,0,0,0,0,-1.4,-.6,-2.4,-2,-2.4,-3.5v-12.3c0,-2.1,-1.7,-3.8,-3.8,-3.8h-24.4c-2.1,0,-3.8,1.7,-3.8,3.8v12.3c0,1.5,-.9,2.9,-2.4,3.5,0,0,0,0,0,0,-1.4,.6,-3,.3,-4.1,-.8l-8.7,-8.7c-1.5,-1.5,-3.9,-1.5,-5.4,0l-17.3,17.3c-1.5,1.5,-1.5,3.9,0,5.4l8.7,8.7c1.1,1.1,1.4,2.7,.8,4.1,0,0,0,0,0,0,-.6,1.4,-2,2.4,-3.5,2.4h-12.3c-2.1,0,-3.8,1.7,-3.8,3.8v24.4c0,2.1,1.7,3.8,3.8,3.8ZM64,32c17.7,0,32,14.3,32,32s-14.3,32,-32,32,-32,-14.3,-32,-32,14.3,-32,32,-32Z\"/><path d=\"M72,64c0,4.4-3.6,8-8,8s-8-3.6-8-8c0-4.4,3.6-8,8-8s8,3.6,8,8Z\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e30_shape\" transform=\"matrix(0.216463 0 0 0.216463 426.389 15.9759)\"><path d=\"M28,112h72c15.5,0,28,-12.5,28,-28s-12.5,-28,-28,-28c-.1,0,-.2,0,-.2,0,-2,-18,-17.2,-32,-35.8,-32s-33.8,14,-35.8,32c-.1,0,-.2,0,-.2,0,-15.5,0,-28,12.5,-28,28s12.5,28,28,28Z\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e31_shape\" transform=\"matrix(0.19327 0 0 0.19327 459.477 15.7285)\"><path d=\"M17.8,16c-5.4,0-9.8,4.4-9.8,9.8v92.4c0,5.4,4.4,9.8,9.8,9.8h92.4c5.4,0,9.8-4.4,9.8-9.8v-92.4c0-5.4-4.4-9.8-9.8-9.8h-14.2v16h-64v-16h-14.2ZM32,64h24v8h-24v-8ZM56,104h-24v-8h24v8ZM96,88h-64v-8h64v8ZM96,48v8h-64v-8h64Z\"/></g><path d=\"M68,4c-33.1,0,-60,26.9,-60,60h56v48c0,4.4,-3.6,8,-8,8s-8,-3.6,-8,-8c0,-2.2,-1.8,-4,-4,-4s-4,1.8,-4,4c0,8.8,7.2,16,16,16s16,-7.2,16,-16v-48h56c0,-33.1,-26.9,-60,-60,-60Z\" style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e32_shape\" transform=\"matrix(0.175564 0 0 0.175564 492.273 17.9949)\"/><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e33_shape\" transform=\"matrix(0.208732 0 0 0.208732 459.044 49.373)\"><path d=\"M24,58.2c-.6,13.2,5.9,24.9,16,31.7v14.1h40v-14.1c9.6,-6.5,16,-17.5,16,-29.9,0,-20.3,-16.7,-36.6,-37.1,-36,-18.6,.6,-33.9,15.6,-34.8,34.2Z\"/><path d=\"M40,112.2c0,8.7,7.1,15.8,15.8,15.8h8.3c8.7,0,15.8-7.1,15.8-15.8v-.2h-40v.2Z\"/><path d=\"M64,4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M120,60c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M8,60c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M103.6,20.4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M24.4,99.6c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M24.4,20.4c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/><path d=\"M103.6,99.6c0,2.2-1.8,4-4,4s-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4Z\"/></g><g style=\"fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e34_shape\" transform=\"matrix(0.19327 0 0 0.19327 496.646 51.3521)\"><path d=\"M3.8,80h12.3c1.5,0,2.9,.9,3.5,2.4,0,0,0,0,0,0,.6,1.4,.3,3,-.8,4.1l-8.7,8.7c-1.5,1.5,-1.5,3.9,0,5.4l17.3,17.3c1.5,1.5,3.9,1.5,5.4,0l8.7,-8.7c1.1,-1.1,2.7,-1.4,4.1,-.8,0,0,0,0,0,0,1.4,.6,2.4,2,2.4,3.5v12.3c0,2.1,1.7,3.8,3.8,3.8h24.4c2.1,0,3.8,-1.7,3.8,-3.8v-12.3c0,-1.5,.9,-2.9,2.4,-3.5,0,0,0,0,0,0,1.4,-.6,3,-.3,4.1,.8l8.7,8.7c1.5,1.5,3.9,1.5,5.4,0l17.3,-17.3c1.5,-1.5,1.5,-3.9,0,-5.4l-8.7,-8.7c-1.1,-1.1,-1.4,-2.7,-.8,-4.1,0,0,0,0,0,0,.6,-1.4,2,-2.4,3.5,-2.4h12.3c2.1,0,3.8,-1.7,3.8,-3.8v-24.4c0,-2.1,-1.7,-3.8,-3.8,-3.8h-12.3c-1.5,0,-2.9,-.9,-3.5,-2.4,0,0,0,0,0,0,-.6,-1.4,-.3,-3,.8,-4.1l8.7,-8.7c1.5,-1.5,1.5,-3.9,0,-5.4l-17.3,-17.3c-1.5,-1.5,-3.9,-1.5,-5.4,0l-8.7,8.7c-1.1,1.1,-2.7,1.4,-4.1,.8,0,0,0,0,0,0,-1.4,-.6,-2.4,-2,-2.4,-3.5v-12.3c0,-2.1,-1.7,-3.8,-3.8,-3.8h-24.4c-2.1,0,-3.8,1.7,-3.8,3.8v12.3c0,1.5,-.9,2.9,-2.4,3.5,0,0,0,0,0,0,-1.4,.6,-3,.3,-4.1,-.8l-8.7,-8.7c-1.5,-1.5,-3.9,-1.5,-5.4,0l-17.3,17.3c-1.5,1.5,-1.5,3.9,0,5.4l8.7,8.7c1.1,1.1,1.4,2.7,.8,4.1,0,0,0,0,0,0,-.6,1.4,-2,2.4,-3.5,2.4h-12.3c-2.1,0,-3.8,1.7,-3.8,3.8v24.4c0,2.1,1.7,3.8,3.8,3.8ZM64,32c17.7,0,32,14.3,32,32s-14.3,32,-32,32,-32,-14.3,-32,-32,14.3,-32,32,-32Z\"/><path d=\"M72,64c0,4.4-3.6,8-8,8s-8-3.6-8-8c0-4.4,3.6-8,8-8s8,3.6,8,8Z\"/></g></svg>",
        "clickableShapes": [
            {
                "targetId": "#temp_indoor_bedroom1",
                "action": "click",
                "payload": "My payload",
                "payloadType": "str",
                "topic": "My topic"
            }
        ],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "Floorplan",
        "x": 740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1bde3678d4c7b664",
        "type": "function",
        "z": "4fed1f4ddde01730",
        "g": "9cd4d9157d91a81c",
        "name": "funct",
        "func": "var newObj = {}\n\nvar stat = msg.status.text\n\nif (stat == 'open'){\n    newObj = {\n        \"command\": \"set_attribute\",\n        \"selector\": \"#temp_indoor_bedroom1\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:green\"\n    }\n    \n} else {\n    newObj = {\n        \"command\": \"set_attribute\",\n        \"selector\": \"#temp_indoor_bedroom1\",\n        \"attributeName\": \"style\",\n        \"attributeValue\": \"fill:rosybrown\"\n    }\n\n}\n\nmsg.payload = newObj;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 580,
        "wires": [
            [
                "3868897729eee2b9",
                "23c3aa1d4993874f"
            ]
        ]
    },
    {
        "id": "d9ea45f57b59cfcc",
        "type": "status",
        "z": "4fed1f4ddde01730",
        "g": "9cd4d9157d91a81c",
        "name": "",
        "scope": [
            "dafe1008fe962740"
        ],
        "x": 380,
        "y": 580,
        "wires": [
            [
                "1bde3678d4c7b664"
            ]
        ]
    },
    {
        "id": "23c3aa1d4993874f",
        "type": "switch",
        "z": "4fed1f4ddde01730",
        "g": "9cd4d9157d91a81c",
        "name": "",
        "property": "status.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 430,
        "y": 500,
        "wires": [
            [
                "56fc3d283752c9bd"
            ]
        ]
    },
    {
        "id": "56fc3d283752c9bd",
        "type": "trigger",
        "z": "4fed1f4ddde01730",
        "g": "9cd4d9157d91a81c",
        "name": "trigger",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "64ed535230e41dcc"
            ]
        ]
    },
    {
        "id": "3a2370fd3df88cb0",
        "type": "ui_group",
        "name": "Smart_Environment_bedroom_1",
        "tab": "e6a080cd37d24863",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a5945581887707b",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "my_phd",
        "name": ""
    },
    {
        "id": "990defcc7986ef1a",
        "type": "ui_group",
        "name": "Floorplan",
        "tab": "ae41d4f3543d62d6",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e6a080cd37d24863",
        "type": "ui_tab",
        "name": "Smart_Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ae41d4f3543d62d6",
        "type": "ui_tab",
        "name": "SH Floorplan",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]